<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="prefix" default="" doc="Prefix to robot's joints' and links' names" />
  <arg name="auto-close" default="false" doc="Startup mode"/>
  <param name="prefix" value="$(arg prefix)" type="str" />
  <param name="use_sim_time" value="true" type="bool" />

  <!-- probably useless -->
  <arg name="min_payload"  default="0.0" doc="lower payload bound for the robot" />
  <arg name="max_payload"  default="10.0" doc="upper payload bound for the robot" />

  <!-- send robot urdf to param server -->
  <include file="$(find ur_e_description)/launch/ur10e_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- Robot state publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" type="string" value="" />
  </node>

  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration" args="pub /calibrated std_msgs/Bool true" />

  <!-- Webots controller -->
  <include file="$(find ur_e_webots)/launch/ur_controller.launch">
    <arg name="auto-close" value="$(arg auto-close)"/>
  </include>

</launch>
