os:
  - linux
  - osx
dist: xenial
git:
  depth: 3
  submodules: true
language: python
python:
  - "2.7"
  - "3.7"
jdk:
  - openjdk8
cache: pip
before_install:
  - sudo add-apt-repository ppa:deadsnakes/ppa -y
  - sudo apt update
  - sudo apt install python3.6-dev
  - curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -
  - sudo apt install nodejs
install:
  - pip install -r tests/sources/requirements.txt
  - pip install -r docs/tests/requirements.txt
addons:
  apt:
    packages:
      - clang-format-5.0
      - g++
      - cmake
      - libusb-dev
      - swig
      - python2.7-dev
      - libglu1-mesa-dev
      - libglib2.0-dev
      - libfreeimage-dev
      - libfreetype6-dev
      - libxml2-dev
      - libzzip-0-13
      - libssl-dev
      - libboost-dev
      - libjpeg8-dev
      - libavcodec-extra
      - libpci-dev
      - libgd-dev
      - libtiff5-dev
      - libssh-dev
      - libzip-dev
      - python-pip
      - libreadline-dev
      - libassimp-dev
      - libpng12-dev
      - libav-tools
      - python3.5-dev
      - openjdk-8-jdk
      - curl
      - libwebpdemux1
      - fakeroot
script:
  - export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
  - export PATH="$JAVA_HOME/bin/javac:$PATH"
  - python -m unittest discover -s tests/sources
  - python -m unittest discover -s docs/tests
  - travis_wait 45 python tests/test_compilation.py
