os: linux
dist: xenial
services:
  - xvfb
git:
  depth: 3
  submodules: true
sudo: required
language: python
python:
  - "2.7"
  - "3.7"
matrix:  # macos can't be listed in 'os' as we need to set 'generic' as language (because travis doesn't support python on macos for now)
  include:
    - os: osx
      osx_image: xcode10.2  # Xcode: 10.2.1  |  macOS: 10.14
      language: generic
jdk: openjdk8
cache: pip
#  directories: dependencies
deploy:
  provider: releases
  file: distribution/webots-R2019a-rev2-x86-64.tar.bz2
  user: cyberbotics-jenkins
  password: $JENKINS_PASSWORD
  skip_cleanup: true
  draft: true
  on:
    branch: travis-test
  all_branches: true
before_install:
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo add-apt-repository ppa:deadsnakes/ppa -y; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt update; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt install python3.6-dev python3.7-dev; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt install nodejs; fi
  - sudo add-apt-repository -y ppa:oibaf/graphics-drivers
  - sudo apt-get update -qq -y
  - export DEBIAN_FRONTEND=noninteractive
- sudo apt-get -yq --force-yes install libgl1-mesa-dev libgl1-mesa-glx mesa-common-dev libglapi-mesa libgbm1 libgl1-mesa-dri libxatracker-dev xvfb
install:
  - pip install -r tests/sources/requirements.txt
  - pip install -r docs/tests/requirements.txt
addons:
  apt:
    packages:
      - clang-format-5.0
      - g++
      - cmake
      - libusb-dev
      - swig
      - python2.7-dev
      - libglu1-mesa-dev
      - libglib2.0-dev
      - libfreeimage-dev
      - libfreetype6-dev
      - libxml2-dev
      - libzzip-0-13
      - libssl-dev
      - libboost-dev
      - libjpeg8-dev
      - libavcodec-extra
      - libpci-dev
      - libgd-dev
      - libtiff5-dev
      - libssh-dev
      - libzip-dev
      - python-pip
      - libreadline-dev
      - libassimp-dev
      - libpng12-dev
      - libav-tools
      - python3.5-dev
      - openjdk-8-jdk
      - curl
      - libwebpdemux1
      - fakeroot
      - libglew-dev
      - freeglut3-dev
      - libxi-dev
      - libxmu-dev
      - xserver-xorg-video-dummy
      - xpra
      - xorg-dev
      - opencl-headers
      - libgl1-mesa-dev
      - libxcursor-dev
      - libpulse-dev
      - libxinerama-dev
      - libxrandr-dev
      - libxv-dev
      - libasound2-dev
      - libudev-dev
      - mesa-utils
- libgl1-mesa-glx
  homebrew:
    packages:
      - clang-format
      - cppcheck
      - python
      - cmake
      - swig
      - wget
      - node
script:
  - if [ $TRAVIS_OS_NAME = linux ]; then export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64; else export JAVA_HOME="$(/usr/libexec/java_home -v 1.8)"; fi
#  - python -m unittest discover -s tests/sources
#  - python -m unittest discover -s docs/tests
#  - xpra --xvfb="Xorg +extension GLX +extension RANDR +extension RENDER -config `pwd`/test/dummy.xorg.conf -logfile ${HOME}/.xpra/xorg.log"  start :99
  - export QT_QPA_PLATFORM=offscreen
  - glxinfo
  - make release -j2
  - ./webots --sysinfo
  - python tests/test_suite.py
