git:
  depth: 3
  submodules: true
jdk: openjdk8
cache:
  pip: true
  directories:
  - dependencies
jobs:
  include:
    - stage: Tests
      os: linux
      dist: xenial
      language: python
      python: '2.7'
      addons: &linux_addons
        apt:
          packages:
            - clang-format-5.0
            - g++
            - cmake
            - libusb-dev
            - swig
            - python2.7-dev
            - libglu1-mesa-dev
            - libglib2.0-dev
            - libfreeimage-dev
            - libfreetype6-dev
            - libxml2-dev
            - libzzip-0-13
            - libssl-dev
            - libboost-dev
            - libjpeg8-dev
            - libavcodec-extra
            - libpci-dev
            - libgd-dev
            - libtiff5-dev
            - libssh-dev
            - libzip-dev
            - python-pip
            - libreadline-dev
            - libassimp-dev
            - libpng12-dev
            - libav-tools
            - python3.5-dev
            - openjdk-8-jdk
            - curl
            - libwebpdemux1
            - fakeroot
      script: &test_script
        - python -m unittest discover -s tests/sources
        - python -m unittest discover -s docs/tests
    - stage: Tests
      os: linux
      dist: xenial
      language: python
      python: '3.7'
      addons: *linux_addons
      script: *test_script
    - stage: Tests
      os: osx
      osx_image: xcode10.2  # Xcode: 10.2.1  |  macOS: 10.14
      language: generic     # macos can't be listed in 'os' as we need to set 'generic' as language (because travis doesn't support python on macos for now)
      python: *python_version
      script: *test_script
    - stage: Compilation
      os: linux
      dist: xenial
      language: python
      python: *python_version
      addons: *linux_addons
      script: make release -j2
    - stage: Compilation
      os: osx
      osx_image: xcode10.2  # Xcode: 10.2.1  |  macOS: 10.14
      language: generic     # macos can't be listed in 'os' as we need to set 'generic' as language (because travis doesn't support python on macos for now)
      python: *python_version
      script: make release -j2
before_install:
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo add-apt-repository ppa:deadsnakes/ppa -y; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt update; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt install python3.6-dev python3.7-dev; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then curl -sL https://deb.nodesource.com/setup_10.x | sudo -E bash -; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then sudo apt install nodejs; fi
  - if [ $TRAVIS_OS_NAME = linux ]; then export JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64; else export JAVA_HOME="$(/usr/libexec/java_home -v 1.8)"; fi
install:
  - pip install -r tests/sources/requirements.txt
  - pip install -r docs/tests/requirements.txt
addons:
  homebrew:
    packages:
      - clang-format
      - cppcheck
      - python
      - cmake
      - swig
      - wget
      - node
