html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #fafafa;
  font-family: "Raleway",sans-serif;
}

p {
  padding-left: 16px;
  color: #34495e;
}

.title-container {
  position: relative;
  background-color: #34495e;
  height: 75px;
  box-shadow: 0 -15px 15px 15px rgba(0,0,0,0.4);
  background-image: url("https://cyberbotics.com/assets/images/webots.png");
  background-repeat: no-repeat;
  background-position: 12px 14px;
  background-size: 45px;
  z-index: 1;
}

.title-container h1 {
  padding-left: 70px;
  font-size: 30px;
  font-weight: 300;
  color: #fafafa;
  position: absolute;
}

.description-container {
  background-color: #34495e;
  padding: 8px 0;
}

.description-container p {
  color: #fafafa;
  font-size: 14px;
  margin-right: 25%;
}