/build
*.la
*.lo
/autom4te.cache
/ode-config
/config.status
/config.h.in
/ode.exp
/libtool
/ode.pc
/ode.lib
/configure
/Makefile.in
/aclocal.m4
/config.guess
/config.sub
/ltmain.sh
/depcomp
/missing
/install-sh
/compile
