<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Retina display fix: to be tested -->
	<!-- http://developer.apple.com/library/mac/#documentation/GraphicsAnimation/Conceptual/HighResolutionOSX/Explained/Explained.html#//apple_ref/doc/uid/TP40012302-CH4-SW7 -->
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<!-- End of retina display fix -->
	<key>NSRequiresAquaSystemAppearance</key>
	<string>True</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wbt</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>webots_document</string>
			<key>CFBundleTypeName</key>
			<string>Webots World Format</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>wbt </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>webots</string>
	<key>CFBundleGetInfoString</key>
	<string>Webots R2023b revision 1, Copyright 1998-2023 Cyberbotics Ltd.</string>
	<key>CFBundleIconFile</key>
	<string>webots_icon</string>
	<key>CFBundleIdentifier</key>
	<string>com.cyberbotics.webots</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Webots</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>R2023b revision 1</string>
	<key>CFBundleSignature</key>
	<string>wbt </string>
	<key>CFBundleVersion</key>
	<string>R2023b revision 1</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.14</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
