[Desktop Entry]
Name=Webots
Comment=Webots mobile robot simulator
Exec=webots
Icon=icons/core/webots.png
Terminal=false
Type=Application
X-AppInstall-Package=webots
