[Desktop Entry]
Name=Webots
Comment=Webots mobile robot simulator
Exec=webots
Icon=/usr/share/webots/resources/icons/core/webots.png
Terminal=false
Type=Application
X-AppInstall-Package=webots
