/*  ----------  css for '%title%' Web %type%  ---------- */

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #fafafa;
  font-family: 'Raleway-light';
}

p {
  padding-left: 16px;
  color: #34495e;
}

.title-container {
  position: relative;
  background-color: #34495e;
  height: 65px;
  box-shadow: 0 -15px 15px 15px rgba(0, 0, 0, 0.4);
  background-image: url("https://cyberbotics.com/assets/images/webots.png");
  background-repeat: no-repeat;
  background-position: 16px 11px;
  background-size: 40px;
  z-index: 1;
}

.title-container h1 {
  padding-left: 70px;
  font-size: 26px;
  font-weight: 300;
  color: #fafafa;
  position: absolute;
}

.webots-view-container {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  height: calc(0.8 * (100vh - 115px));
  width: calc(100% + 2px);
  box-shadow: -50px -5px 25px 20px rgba(255, 255, 255, 1);
}

webots-view {
  width: 100%;
  display: block;
  position: relative;
}

.description-container {
  min-height: 10%;
  background-color: #fafafa;
  height: calc(0.2 * (100vh - 115px));
  overflow: auto;
  padding: 10px;
}

.description-container p {
  margin-right: 25%;
  margin-bottom: 40px;
}

.bottom-container {
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #34495e;
  box-shadow: -50px 0px 25px 20px rgba(255, 255, 255, 1);
  margin: auto;
}

.bottom-container p {
  color: #fafafa;
  font-size: 12px;
  padding-top: 5px;
  padding-left: 24px;
  font-family: 'Arial';
}

.bottom-container a {
  color: #00a785;
  font-family: 'Arial';
}
