<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>%title%</title>
    <link rel="stylesheet" href="%cssName%">
    <script type="module" src="https://cyberbotics.com/wwi/R2023b/WebotsView.js"></script>
  </head>
  <body>
    <div class="title-container">
      <h1>Web %type%: <strong>%title%</strong></h1>
    </div>
    <div class="webots-view-container">
      <webots-view data-thumbnail=%jpgName% data-scene=%x3dName% data-animation=%jsonName%></webots-view>
    </div>
    <div class="description-container">
      <p><strong>Description:</strong><br><br>%description%</p>
    </div>
    <div class="bottom-container">
      <p>If the animation is not loading correctly, please refer to the <a target='_blank'
          href='https://cyberbotics.com/doc/guide/web-scene#remarks-on-the-used-technologies-and-their-limitations'>User 
          Guide</a> it could be that your browser prevents local files CORS requests.</p>
    </div>
  </body>
</html>
