<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>%title%</title>
    <link type="text/css" href="https://www.cyberbotics.com/jquery-ui/1.11.4/jquery-ui.min.css" rel="stylesheet"/>
    <link type="text/css" href="https://cyberbotics.com/wwi/Wrenjs/css/animation.css" rel="stylesheet"/>
    <style>
      html, body {
        padding:0;
        height: 100%;
      }
    </style>
    <script type="module" src="https://cyberbotics.com/wwi/Wrenjs/WebotsAnimation.js"></script>
  </head>
  <body>
    <h1 style="height:5%">%title%</h1>
    <webots-animation style="height:80%"></webots-animation>
    <p style="height:5%">If the animation is not loading correctly, please refer to the <a style='color: #5DADE2;' target:'_blank' href='https://cyberbotics.com/doc/guide/web-scene#remarks-on-the-used-technologies-and-their-limitations'>User Guide</a>
      it could be that your browser prevents local files CORS requests.</p>
    <p style="height:5%">%description%</p>
  </body>
</html>
