.proto-designer {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    'header header'
    'sidebar main'
    'editor library';
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 30px auto 200px;
  grid-gap: 3px;
  background-color: #333;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
}

.proto-designer > div {
  color: white;
  overflow: hidden;
}

.main {
  grid-area: main;
}

.sidebar {
  grid-area: sidebar;
}

.editor {
  grid-area: editor;
  background-color: #4c4c4c;
  padding: 5px;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.designer-list {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  line-height: 100%
}

.li-border {
  border: 2px solid #333;
  border-radius: 4px;
  padding: 8px;
}

.li {
  cursor: pointer;
}

.designer-group {
  background-color: #4c4c4c;
  border-radius: 5px;
  padding: 5px;
}

.designer-group-title {
  color: #a5a5a5;
  font-size: medium;
  margin: 0;
}

.proto-designer-fas, .menu-item {
  margin: 5px;
}

.proto-designer-fas:hover, .menu-item:hover {
  color: #68E
}

.proto-designer-fas-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.proto-designer-fas-selected {
  color: #6E6;
}

.proto-name-label {
  font-family: monospace;
  font-size: large;
}

input[type=number] {
  height: 100%;
  width: 60px;
}

input[type=text] {
  height: 100%;
  width: 100%;
  padding: 1px;
}
