<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="world" value="$(env WEBOTS_HOME)/projects/languages/ros/worlds/catch_the_bird.wbt"/>
  </include>

  <node name="catch_the_bird" pkg="webots_ros" type="catch_the_bird" output="screen"/>
</launch>
