<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="world" value="$(env WEBOTS_HOME)/projects/languages/ros/worlds/keyboard_teleop.wbt"/>
  </include>

  <node name="keyboard_teleop" pkg="webots_ros" type="keyboard_teleop" output="screen"/>
</launch>
