<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="world" value="$(env WEBOTS_HOME)/projects/languages/ros/worlds/pioneer3at.wbt"/>
  </include>

  <arg name="auto-close" default="false" doc="Startup mode"/>
  <node name="pioneer3at" pkg="webots_ros" type="pioneer3at" output="screen" required="$(arg auto-close)"/>
</launch>
