<?xml version="1.0"?>
<launch>
  <arg name="world" default="" doc="Path to the world to load"/>
  <arg name="mode" default="realtime," doc="Startup mode"/>
  <node name="webots" pkg="webots_ros" type="webots_launcher.py" args="--world=$(arg world) --mode=$(arg mode)" output="screen" required="true"/>
</launch>
