/*
 * Minimal CSS for a web page displaying the Webots documentation.
 * Edit this file to integrate the documentation in your own web pages.
 */

html,
body {
  outline: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 14px;
}
