/*
 * CSS for the Webots documentation.
 * All the CSS rules are applied to the 'webots-doc' container and its descendants.
 */

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("fonts/Roboto-Regular"), url("fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("fonts/Roboto-Italic"), url("fonts/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("fonts/Roboto-Bold"), url("fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local("fonts/Roboto-BoldItalic"), url("fonts/Roboto-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  src: local("fonts/Roboto-Mono"), url("fonts/Roboto-Mono.ttf") format("truetype");
}

body {
  scroll-behavior: auto !important; /* wwi.css.body.scroll-behavior should be encapsulated in class to fix this cleanly. */
}

#webots-progress {
  z-index: 1;
  position: absolute;
  text-align: center;
  background-color: white;
  width: 300px;
  height: 100px;
  top: calc(50% - 50px);
  left: calc(50% - 150px);
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  box-sizing: content-box;
}

.webots-doc #left {
  top: 0;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}
.webots-doc .default#left {
  top: 0px !important;
}
.webots-doc #handle {
  left: 20%;
  width: 3px;
  height: 100%;
  box-sizing: content-box; /* in the online doc, bootstrap is overriding box-sizing */
  position: fixed;
  z-index: 2;
  background-color: #777;
  cursor: ew-resize;
  transition: width 0.05s ease-in-out;
}
.webots-doc #handle:hover {
  background-color: #aaa;
  width: 7px;
}
.webots-doc #handle:active {
  width: 7px;
  background-color: #bbb;
  cursor: ew-resize;
}
.webots-doc #center {
  top: 0px;
  left: 20%;
  width: 80%;
  position: relative;
  padding-bottom: 0;
  margin-bottom: 0;
  background: lightblue;
}
.webots-doc .default#center {
  top: 0px !important;
}
.webots-doc #content {
  box-sizing: border-box;
  max-width: 1034px;
  margin: 0 auto;
  background: white;
  min-height: 100vh;
  padding: 0px 60px 0px 30px;
  -webkit-box-shadow: 0px 0px 68px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 68px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 68px 0px rgba(0, 0, 0, 0.2);
}
.webots-doc #title-content {
  margin: 0;
}
.webots-doc #view,
.webots-doc #title {
  background-color: transparent;
  width: calc(100% - 4em);
  margin: 1em 1em 0;
  padding: 0 1em 2px 0;
  top: 0;
}
.webots-doc #title {
  margin-top: 0px;
  margin-left: 40px;
  padding-bottom: 0;
  padding-top: 40px;
}
.webots-doc #view {
  margin-left: 40px;
  padding-top: 0;
  padding-bottom: 60px;
  margin-bottom: 0;
}
.webots-doc #navigation,
.webots-doc #menu {
  clear: left;
  width: calc(100% - 2em);
  margin: auto;
  padding-bottom: 0;
  margin-bottom: 0;
}
.webots-doc #menu ul {
  list-style-type: none;
  padding: 0;
}
.webots-doc #navigation > table {
  font-size: 20px;
  margin: 0 auto 0 auto;
}
.webots-doc #navigation td {
  text-align: center;
}
.webots-doc #accordion li a,
.webots-doc #accordion li ul li a {
  padding: 0.5em;
  overflow-x: hidden;
}
.webots-doc #accordion li a.active::after {
  content: '';
}
.webots-doc #accordion li a {
  display: block;
  background: transparent;
  color: #1e3333;
  padding: 10px;
}
.webots-doc #accordion li a.active {
  background: #444;
  color: white;
}
.webots-doc #accordion li a:hover {
  background: #bbb;
}
.webots-doc #accordion li a.active:hover {
  background: #333;
}
.webots-doc #accordion li ul {
  display: none;
}
.webots-doc #accordion li ul li a {
  background: #ececec;
  border-color: #ddd;
  padding: 10px 10px 10px 30px;
}
.webots-doc #accordion li ul li.selected a {
  background: #777;
  color: white;
  border-color: #ccc;
}
.webots-doc blockquote {
  margin: 20px 10px;
  font-size: inherit; /* in the online doc, bootstrap is overriding font-size */
  background: #f1f1f1;
  background-image: url(images/note.png);
  background-repeat: no-repeat;
  background-position: 10px 24px;
  border-left: 2px solid #ccc;
  padding: 3px;
}
.webots-doc blockquote > p > code {
  background: #ddd;
}
.webots-doc blockquote > pre {
  border-left: 2px solid #ccc;
  background: #eaeaea;
}
.webots-doc .cyberbotics blockquote {
  padding: 20px;
}
.webots-doc .default blockquote {
  padding: 5px 20px 5px 20px;
}
.webots-doc td {
  padding-left:4px;
  padding-right:4px;
}
.webots-doc a.disabled {
  pointer-events: none;
  color: #ddd;
}
.webots-doc a {
  font-family: "Roboto";
  color: #3e95af;
  text-decoration: none;
  outline: 0;
}
.webots-doc a:hover {
  color: #2a6576;
  text-decoration: none;
  outline: 0;
}
.webots-doc a:active,
.webots-doc a:focus {
  outline: 0;
  text-decoration: none;
  color: #2a6576;
}
.webots-doc pre {
  padding: 20px 10px 20px 40px;
  margin: 20px 10px;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 2px;
  overflow-x: auto;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}
.webots-doc code {
  padding: 0;
  background: transparent;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
  white-space: pre;
  word-wrap: break-word;
  color: inherit; /* to bypass the main.css rule. */
}
.webots-doc pre > code {
  word-wrap: normal;
}
.webots-doc tr > td >  code {
  white-space: normal;
}
.webots-doc p > code, .webots-doc li > code {
  color: #222;
  background: #eee;
  padding: 2px 6px;
  border-radius: 4px;
  white-space: normal;
}
.webots-doc code > a {
  font-family: "Roboto Mono", monospace;
}
.webots-doc a > code {
  white-space: normal;
}
.webots-doc b, .webots-doc strong {
  color: #333;
}
.webots-doc hr {
  margin: 40px 0px;
}
.webots-doc kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  line-height: normal;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border-bottom-color: #d1d5da;
  border: 1px solid #d1d5da;
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 #d1d5da;
}
.webots-doc h1,
.webots-doc h2,
.webots-doc h3,
.webots-doc h4,
.webots-doc h5,
.webots-doc h6 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  color: #0e6f8c;
  clear: both;
  margin: 20px auto;
  word-wrap: break-word;
}
.webots-doc h1 {
  font-size: 46px;
  padding-bottom: 16px;
}
.webots-doc h2 {
  font-size: 32px;
}
.webots-doc h3 {
  font-size: 26px;
}
.webots-doc h4 {
  font-size: 18px;
}
.webots-doc h5 {
  font-size: 16px;
}
.webots-doc h6 {
  font-size: 14px;
}
.webots-doc .release-tag {
  display: inline;
  font-size: 14px;
  color: #ccc;
}
.webots-doc .anchor-link-image {
  padding-left: 20px;
  background: url(images/anchor.png) left center no-repeat;
  background-size: 20px;
}
.webots-doc .anchor-link {
  opacity: 0;
  \-webkit-transition: opacity 0.2s ease-in-out 0.1s;
  \-moz-transition: opacity 0.2s ease-in-out 0.1s;
  \-ms-transition: opacity 0.2s ease-in-out 0.1s;
}
.webots-doc .anchor-header {
  position: relative;
  left: -20px;
  padding: 9px 0px;
}
.webots-doc .api-title {
  margin: 0px 10px;
  padding: 0px;
  color: black;
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
}
.webots-doc figcaption:hover .anchor-link,
.webots-doc h1:hover .anchor-link,
.webots-doc h2:hover .anchor-link,
.webots-doc h3:hover .anchor-link,
.webots-doc h4:hover .anchor-link,
.webots-doc h5:hover .anchor-link,
.webots-doc h6:hover .anchor-link {
  opacity: 1;
}
.webots-doc p {
  font-family: "Roboto";
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  text-align: justify;
  line-height: 140%;
  word-wrap: break-word;
}
.webots-doc .modal-window {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}
.webots-doc .modal-window-load-image {
  margin: auto;
  display: block;
  cursor: pointer;
  padding: 60px 120px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.5);
  border-radius: 6px;
}
.webots-doc .modal-window-image-content {
  margin: auto;
  max-height: 80%;
  max-width: 90%;
  display: block;
  cursor: pointer;
  transition: 0.05s;
  background-color: white;
}
.webots-doc .modal-window-close-button {
  position: absolute;
  top: 10px;
  right: 35px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  transition: 0.2s;
}
.webots-doc .modal-window-close-button:hover,
.webots-doc .modal-window-close-button:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.webots-doc .modal-window-caption {
  margin: auto;
  display: block;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.4s;
}
.webots-doc img {
  max-width: 100%;
  max-height: 500px;
  vertical-align: middle;
}
.webots-doc figure {
  overflow: visible;
  text-align: center;
  margin: 20px auto 20px auto;
}
.webots-doc figure > img {
  max-width: 80%;
}
.webots-doc figcaption {
  font-style: italic;
}
.webots-doc #view table {
  table-layout: fixed;
  width: 100%;
  text-align: left;
  color: #333;
  border-width: 1px;
  border-color: #aaa;
  border-collapse: collapse;
}
.webots-doc #view figure > table {
  width: 100%;
}
.webots-doc #view table th {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: #ddd;
  word-wrap: break-word;
}
.webots-doc #view table tr:hover td {
  background-color: #def;
}
.webots-doc #view table td {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ddd;
  background-color: transparent;
  word-wrap: break-word;
}
.webots-doc .api table {
  font-family: "Roboto Mono";
  width: 80%;
}
.webots-doc .api td > a {
  font-family: "Roboto Mono";
}
.webots-doc li {
  font-family: "Roboto";
  color: black;
  font-weight: 450;
  word-wrap: break-word;
  font-size: 16px;
}
.webots-doc ul {
  clear: both;
  list-style-type: circle;
}
.webots-doc ul, .webots-doc ol {
  list-style-position: outside;
  padding-left: 1em;
}
.webots-doc #content ul, .webots-doc #content ol {
  margin: 0.5em 1em;
}
.webots-doc .illustrated-section {
  overflow: hidden;
  padding: 10px 0px;
  margin: 20px 10px;
}
.webots-doc .illustrated-section img {
  max-width: 30%;
  min-width: 120px;
  float: left;
  padding: 3px 10px 0px 0px;
}
.webots-doc .illustrated-section p {
  margin: 0px;
}

.webots-doc .contribution-banner {
  box-sizing: border-box;
  position: fixed;
  left: inherit;
  width: inherit;
  text-align: center;
  padding: 10px;
  background: white;
  font-family: "Roboto";
  border-bottom: 1px solid #e2e2e2;
  z-index: 1;
  animation: show 1.5s;
}
@keyframes show {
  from {
    transform: translateY(-250%);
    -webkit-transform: translateY(-250%);
    -moz-transform: translateY(-250%);
    -o-transform: translateY(-250%);
  }
  to {
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
  }
}

.webots-doc .contribution-banner #contribution-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  margin: 0;
  padding: 0;
  top: 8px;
}

.webots-doc .contribution-banner .github-logo {
  margin-left: 5px;
  background: url(images/github.png) left center no-repeat;
  padding-left: 16px;
  background-size: 16px;
}

.robot-component {
  display: flex;
  justify-content: space-between;
  height: 400px;
  background-color: #f0f0f0;
  margin-bottom: 10px;
}
.robot-component:-webkit-full-screen {
  width: 100%;
  height: 100%;
}
.robot-component .robot-view {
  width: 70%;
  height: 100%;
  position: relative;
}
.robot-component .webots-3d-view {
  height: 100%;
}
.robot-component .robot-webots-view {
  height: 100%;
  display: block;
}
.robot-component .menu {
  transform: translateY(-100%);
  width: 99%;
}
.robot-component .menu-items {
  margin: 0 auto;
  text-align: right;
  z-index: 1;
}

.ui-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url('https://cyberbotics.com/wwi/{{ webots.version.major }}/images/icons.svg');
  background-color: transparent;
  border: none;
  width: 34px;
  height: 34px;
}

.fullscreen-button { background-position: -420px -2px }
.exit-fullscreen-button { background-position: -458px -2px }
.reset-button{ background-position: -496px -2px}

.reset-button:hover,
.fullscreen-button:hover,
.exit-fullscreen-button:hover {
  background-position-y: -40px;
}
.menu-button {
  position: absolute;
  top:calc(50% - 15px);
  right: 0px;
  width: 26px;
  height: 52px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background-color: #333;
  border-color: transparent;
}

.arrow-right{
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: calc(50% - 5px);
  right: calc(50% - 5px);
  pointer-events: none;
}

.arrow-left{
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  position: absolute;
  top: calc(50% - 5px);
  right: calc(50% - 10px);
  pointer-events: none;
}

.robot-component .device-component {
  width: 30%;
  overflow: auto;
  overflow-x: hidden;
  background-color: #333;
  padding: 10px 0px 10px 0px;
  border-radius: 0px 3px 3px 0px;
  position: relative;
}
.robot-component .device-category {
  padding: 10px 0px 10px 0px;
}
.robot-component .device-title {
  color: #fff;
  padding-bottom: 10px;
  font-family: roboto;
  font-size: 14px;
  text-align: center;
  border-bottom-style: solid;
  border-bottom-color: white;
}
.robot-component .device-name {
  color: white;
  font-family: roboto;
  word-wrap: break-word;
}
.robot-component .device {
  padding: 10px;
}
.robot-component .device:hover {
  background-color: grey;
  box-shadow: 0px 5px 10px 5px rgba(0,0,0, 0.25);
  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  -moz-transform: scale(1.02, 1.02);
  -o-transform: scale(1.02, 1.02);
}
.robot-component .motor-component {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.robot-component .motor-label {
  color: #ddd;
  font-family: roboto;
  margin: 10px 0px;
}
.robot-component .motor-slider {
  -webkit-appearance: none;
  width: 100%;
  background-color: transparent;
  padding: 0;
  margin: 0px 10px;
}
.robot-component .motor-slider:focus {
  outline: none;
}
.robot-component .motor-slider::-webkit-slider-runnable-track {
  margin: 18px 0;
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #ddd;
  border: none;
}
.robot-component .motor-slider::-webkit-slider-thumb {
  border: none;
  height: 15px;
  width: 15px;
  background: rgb(0, 122, 204);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
  border-radius: 12px;
}
.robot-component .motor-slider:focus::-webkit-slider-runnable-track {
  background: #ddd;
}
.robot-component .motor-slider::-moz-range-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: #ddd;
  border: none;
}
.robot-component .motor-slider::-moz-range-thumb {
  border: none;
  height: 15px;
  width: 15px;
  background: rgb(0, 122, 204);
  cursor: pointer;
  border-radius: 12px;
 }
.robot-component .motor-slider::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
.robot-component .motor-slider::-ms-fill-lower {
  background: #ddd;
  border: none;
}
.robot-component .motor-slider::-ms-fill-upper {
  background: #ddd;
  border: none;
}
.robot-component .motor-slider::-ms-thumb {
  border: none;
  background: rgb(0, 122, 204);;
  cursor: pointer;
  border-radius: 6px;
}
.robot-component .motor-slider::-ms-tooltip {
  display: none;
}
.robot-component .motor-slider:focus::-ms-fill-lower {
  background: #ddd;
}
.robot-component .motor-slider:focus::-ms-fill-upper {
  background: #ddd;
}

.tab-component {
  overflow: hidden;
  margin-top: 19px;
  background-color: #444;
}
.tab-component button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 18px;
  margin: 5px 5px;
  transition: 0.2s;
  color: white;
  background: #777;
  border-radius: 2px;
  transition: 0.3s;
}
.tab-component button:hover {
  background-color: #999;
}
.tab-component button.active {
  background-color: lightblue;
  border-color: transparent;
  color: black;
}
.tab-content {
  display: none;
  padding: 0;
  border-top: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}
.tab-content > table {
  width: 100% !important;
  margin: 0 !important;
  background-color: #f1f1f1;
}
.tab-content > table br {
  line-height: 28px;
}
.tab-content > blockquote {
  margin: 0;
  border: 0;
}
.tab-content > pre {
  margin: 0;
}
@-webkit-keyframes fadeEffect {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeEffect {
  from { opacity: 0; }
  to { opacity: 1; }
}

.webots-doc details {
  margin: 5px 20px;
  background-color: rgb(255, 252, 204);
  padding: 5px 10px;
}

.webots-doc summary {
  display: revert;
  padding: inherit;
}

/*---------------------*
 * Chart specific CSS
 *--------------------*/

.webots-doc g .edgePaths .edgePath .path {
  stroke: #333;
  stroke-width: 2px;
}

.webots-doc g .nodes .node .label {
  color: black;
  font-weight: initial;
}

.webots-doc g .nodes .node rect,
.webots-doc g .nodes .node circle,
.webots-doc g .nodes .node ellipse,
.webots-doc g .nodes .node polygon {
  fill: #add8e6;
  stroke: #afafaf;
  stroke-width: 1px;
}

.webots-doc g .nodes .secondaryNode rect,
.webots-doc g .nodes .secondaryNode circle,
.webots-doc g .nodes .secondaryNode ellipse,
.webots-doc g .nodes .secondaryNode polygon {
  fill: #d3ffc9;
}

.webots-doc g .nodes .highlightedNode rect,
.webots-doc g .nodes .highlightedNode circle,
.webots-doc g .nodes .highlightedNode ellipse,
.webots-doc g .nodes .highlightedNode polygon,
.webots-doc g .nodes .highlightedSecondaryNode rect,
.webots-doc g .nodes .highlightedSecondaryNode circle,
.webots-doc g .nodes .highlightedSecondaryNode ellipse,
.webots-doc g .nodes .highlightedSecondaryNode polygon {
  stroke: #444444;
  stroke-width: 3px;
}

.webots-doc g .nodes .highlightedSecondaryNode rect,
.webots-doc g .nodes .highlightedSecondaryNode circle,
.webots-doc g .nodes .highlightedSecondaryNode ellipse,
.webots-doc g .nodes .highlightedSecondaryNode polygon {
  fill: #d3ffc9;
}

.webots-doc g .clusters .cluster rect,
.webots-doc g .clusters .cluster circle,
.webots-doc g .clusters .cluster ellipse,
.webots-doc g .clusters .cluster polygon {
  fill: #ddd !important;  /* recommended way of mermaidjs to change these elements */
  stroke: #afafaf !important;
}

.webots-doc g foreignObject div .edgeLabel {
  background-color: #f1f1f1;
  color: black;
  font-weight: initial;
  line-height: initial;
}

.webots-doc g foreignObject div a {
  font-family: Tahoma, Arial, sans-serif;  /* mermaidjs is quite sensitive to the font used and it's size */
  font-size: 100%;
}

.webots-doc .mermaid {
  overflow-x: auto;
}

.webots-doc .mermaid svg {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-color: #f1f1f1;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  max-height: 100%;
}

.webots-doc iframe {
  width: 70%;
  height: 400px;
  margin: 30px auto;
  display: block;
}

/*--------------------*
 * Blog specific CSS
 *--------------------*/

#webots-doc .blog {
  background: white;
}

.blog #title {
  text-align: center;
  background: transparent;
}

.blog #content {
  padding: 0px 30px;
  max-width: 1080px;
  box-shadow: none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
}

.blog #view {
  margin: 0 auto;
  background: transparent;
}

.blog #view p {
  font-family: "Roboto";
  margin: 15px auto;
  word-wrap: break-word;
  font-size: 17px;
}

.blog #view a {
  font-size: 17px;
}

.blog #view h1, .blog #view h2, .blog #view h3, .blog #view h4 {
  text-align: center;
  word-wrap: break-word;
}

.blog #view hr {
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

.blog #view img {
  border: none;
  max-width: 90%;
  cursor: pointer;
  transition: 0.05s;
  border-radius: 4px;
  box-shadow: 0px 2px 22px 2px rgba(0, 0, 0, 0.5);
}

.blog #view img:hover {
  opacity: 0.7;
}

.blog #view #publish-data {
  font-family: "Roboto";
  font-size: 0.92em;
  text-align: right;
  padding-bottom: 2px;
  margin-bottom: 2px;
  display:block;
}

.blog .webm {
  display: block;
  max-width: 90%;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0px 2px 22px 2px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

.blog pre {
  margin: 10px auto;
  max-width: 75%;
  padding: 15px 10px 15px 30px;
  border-radius: 2px;
  background-color: #444;
  overflow-x: auto;
  font-size: 16px;
}

.blog code {
  margin: 3px;
  padding: 3px;
  background: transparent;
  color: #eee;
  background-color: #444;
  overflow-y: hidden;
  word-wrap: break-word;
}

.blog figcaption {
  font-style: italic;
  padding: 10px;
}

.blog .contribution-banner {
  display: none;
}

.blog .post-selector {
  display: block;
  font-size: 17px;
  margin-top: 5px;
}

.blog .left {
  float: left;
  margin-left: 15px;
}

.blog .right {
  float: right;
  margin-right: 15px;
}

/*--------------------*
 * Media
 *--------------------*/
 @media (max-width: 750px) {
   .webots-doc #content {
     padding: 0;
   }
   .webots-doc #view {
     width: calc(100% - 1em);
   }
   .webots-doc #view {
     margin-left: 0.5em;
     margin-right: 0.5em;
     padding-left: 0;
     padding-right: 0;
   }
   .webots-doc h1, .webots-doc h2, .webots-doc h3, .webots-doc h4, .webots-doc h5, .webots-doc h6,
   .webots-doc #title, .webots-doc #title-content, .webots-doc .anchor-header {
     left: 0;
     margin-left: auto;
     margin-right: auto;
     padding-left: 0;
     padding-right: 0;
     text-align: center;
   }
   .webots-doc #navigation {
     width: 100%;
   }
   .webots-doc #accordion li, .webots-doc #accordion a {
     padding-left: 0 !important;
     padding-right: 0 !important;
   }
 }
