<?xml version="1.0"?>
<robot name="P-Rob3" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.173" rpy="9.929139e-07 0 0"/>
      <geometry>
        <cylinder radius="0.09" length="0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.173" rpy="9.929139e-07 0 0"/>
      <geometry>
        <cylinder radius="0.09" length="0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.051" rpy="0 0 0"/>
      <geometry>
        <box size="0.21 0.32 0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.051" rpy="0 0 0"/>
      <geometry>
        <box size="0.21 0.32 0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.151" rpy="0 0 0"/>
      <geometry>
        <box size="0.21 0.22 0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.151" rpy="0 0 0"/>
      <geometry>
        <box size="0.21 0.22 0.1"/>
      </geometry>
    </collision>
  </link>
  <joint name="1" type="revolute">
    <parent link="base_link"/>
    <child link="link_1_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="159.696" lower="-2.95903" upper="2.95903" velocity="1.74533"/>
    <origin xyz="0 0 0.212" rpy="0 0 0"/>
  </joint>
  <link name="link_1_2">
    <visual>
      <origin xyz="0 0 0.0555" rpy="9.929139e-07 0 0"/>
      <geometry>
        <cylinder radius="0.09" length="0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.0555" rpy="9.929139e-07 0 0"/>
      <geometry>
        <cylinder radius="0.09" length="0.07"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.05 0.1485" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.085" length="0.09"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.05 0.1485" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.085" length="0.09"/>
      </geometry>
    </collision>
  </link>
  <joint name="2" type="revolute">
    <parent link="link_1_2"/>
    <child link="link_2_3"/>
    <axis xyz="0 1 0"/>
    <limit effort="159.696" lower="-1.91148" upper="1.91148" velocity="1.74533"/>
    <origin xyz="0 0 0.1505" rpy="0 0 0"/>
  </joint>
  <link name="link_2_3">
    <visual>
      <origin xyz="0 -0.05 0.005" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.09" length="0.09"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.05 0.005" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.09" length="0.09"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -3.03039e-07 0.115" rpy="-3.1415894 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.06"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -3.03039e-07 0.115" rpy="-3.1415894 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.06"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -0.055 0.285" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.07" length="0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.055 0.285" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.07" length="0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.18" rpy="-3.1415894 0 0"/>
      <geometry>
        <cylinder radius="0.085" length="0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.18" rpy="-3.1415894 0 0"/>
      <geometry>
        <cylinder radius="0.085" length="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint name="3" type="revolute">
    <parent link="link_2_3"/>
    <child link="link_3_4"/>
    <axis xyz="0 1 0"/>
    <limit effort="80.1455" lower="-1.99927" upper="1.99927" velocity="2.44346"/>
    <origin xyz="0 0 0.29" rpy="0 0 0"/>
  </joint>
  <link name="link_3_4">
    <visual>
      <origin xyz="0 0.055 -0.0005" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.07" length="0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.055 -0.0005" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.07" length="0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.1225" rpy="-3.1415894 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.09"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.1225" rpy="-3.1415894 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.09"/>
      </geometry>
    </collision>
  </link>
  <joint name="4" type="revolute">
    <parent link="link_3_4"/>
    <child link="link_4_5"/>
    <axis xyz="0 0 1"/>
    <limit effort="30.1005" lower="-2.95153" upper="2.95153" velocity="2.79253"/>
    <origin xyz="0 0 0.164" rpy="0 0 0"/>
  </joint>
  <link name="link_4_5">
    <visual>
      <origin xyz="0 0 0.04900001" rpy="9.929139e-07 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.04900001" rpy="9.929139e-07 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.07"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.05 0.142" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.069" length="0.09"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.05 0.142" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.069" length="0.09"/>
      </geometry>
    </collision>
  </link>
  <joint name="5" type="revolute">
    <parent link="link_4_5"/>
    <child link="link_5_6"/>
    <axis xyz="0 1 0"/>
    <limit effort="30.1005" lower="-1.9977" upper="1.9977" velocity="2.79253"/>
    <origin xyz="0 0 0.1455" rpy="0 0 0"/>
  </joint>
  <link name="link_5_6">
    <visual>
      <origin xyz="0 -0.05 -0.0055" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.071" length="0.095"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.05 -0.0055" rpy="1.5707963 0 0"/>
      <geometry>
        <cylinder radius="0.071" length="0.095"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -3.03039e-07 0.1045" rpy="-3.1415894 0 0"/>
      <geometry>
        <cylinder radius="0.073" length="0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -3.03039e-07 0.1045" rpy="-3.1415894 0 0"/>
      <geometry>
        <cylinder radius="0.073" length="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint name="6" type="revolute">
    <parent link="link_5_6"/>
    <child link="link_6_top"/>
    <axis xyz="0 0 1"/>
    <limit effort="16.4816" lower="-2.95833" upper="2.95833" velocity="2.79253"/>
    <origin xyz="0 0 0.129" rpy="0 0 0"/>
  </joint>
  <link name="link_6_top">
    <visual>
      <origin xyz="0 0 0.02775" rpy="-3.1415894 0 0"/>
      <geometry>
        <cylinder radius="0.0683" length="0.04"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.02775" rpy="-3.1415894 0 0"/>
      <geometry>
        <cylinder radius="0.0683" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="link_base_tcp180_50247">
    <visual>
      <origin xyz="0 0 0.04675" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.04675" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 1.34683e-07 0.00675" rpy="-3.1415894 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 1.34683e-07 0.00675" rpy="-3.1415894 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_6_top_link_base_tcp180_50247_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="link_base_tcp180_50247"/>
    <origin xyz="0 0 0.0985" rpy="0 0 0"/>
  </joint>
  <joint name="7 left" type="revolute">
    <parent link="link_base_tcp180_50247"/>
    <child link="left finger_50332"/>
    <axis xyz="-1 -2.614661e-06 4.528642e-07"/>
    <limit effort="5.44164" lower="0" upper="1.0472" velocity="1.0472"/>
    <origin xyz="0 0 0.058" rpy="0.3430009 4.528642e-07 3.14159"/>
  </joint>
  <link name="left finger_50332">
    <visual>
      <origin xyz="0 0.0437334 0.0442707" rpy="-0.2879853 0 0"/>
      <geometry>
        <box size="0.034 0.023 0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0437334 0.0442707" rpy="-0.2879853 0 0"/>
      <geometry>
        <box size="0.034 0.023 0.07"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.0561311 0.0865105" rpy="-0.3926997 0 0"/>
      <geometry>
        <box size="0.03 0.02 0.04"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0561311 0.0865105" rpy="-0.3926997 0 0"/>
      <geometry>
        <box size="0.03 0.02 0.04"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.0566597 0.105248" rpy="0.261798 0 0"/>
      <geometry>
        <box size="0.026 0.021 0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0566597 0.105248" rpy="0.261798 0 0"/>
      <geometry>
        <box size="0.026 0.021 0.03"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.048226 0.127972" rpy="-0.314166 0 0"/>
      <geometry>
        <box size="0.026 0.004 0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.048226 0.127972" rpy="-0.314166 0 0"/>
      <geometry>
        <box size="0.026 0.004 0.025"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.058726 0.127073" rpy="0.62831 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.058726 0.127073" rpy="0.62831 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.025"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.052619 0.121813" rpy="1.23045 0 0"/>
      <geometry>
        <box size="0.022 0.014 0.014"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.052619 0.121813" rpy="1.23045 0 0"/>
      <geometry>
        <box size="0.022 0.014 0.014"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.0673743 0.108562" rpy="0.2355853 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.02"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0673743 0.108562" rpy="0.2355853 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.02"/>
      </geometry>
    </collision>
  </link>
  <joint name="7" type="revolute">
    <parent link="link_base_tcp180_50247"/>
    <child link="right finger_50284"/>
    <axis xyz="-1 0 0"/>
    <limit effort="5.44164" lower="0" upper="1.0472" velocity="1.0472"/>
    <origin xyz="0 0 0.058" rpy="0.343 0 0"/>
  </joint>
  <link name="right finger_50284">
    <visual>
      <origin xyz="0 0.0437334 0.0442707" rpy="-0.2879853 0 0"/>
      <geometry>
        <box size="0.034 0.023 0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0437334 0.0442707" rpy="-0.2879853 0 0"/>
      <geometry>
        <box size="0.034 0.023 0.07"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.0561311 0.0865105" rpy="-0.3926997 0 0"/>
      <geometry>
        <box size="0.03 0.02 0.04"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0561311 0.0865105" rpy="-0.3926997 0 0"/>
      <geometry>
        <box size="0.03 0.02 0.04"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.0566597 0.105248" rpy="0.261798 0 0"/>
      <geometry>
        <box size="0.026 0.021 0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0566597 0.105248" rpy="0.261798 0 0"/>
      <geometry>
        <box size="0.026 0.021 0.03"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.048226 0.127972" rpy="-0.314166 0 0"/>
      <geometry>
        <box size="0.026 0.004 0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.048226 0.127972" rpy="-0.314166 0 0"/>
      <geometry>
        <box size="0.026 0.004 0.025"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.058726 0.127073" rpy="0.62831 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.058726 0.127073" rpy="0.62831 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.025"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.052619 0.121813" rpy="1.23045 0 0"/>
      <geometry>
        <box size="0.022 0.014 0.014"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.052619 0.121813" rpy="1.23045 0 0"/>
      <geometry>
        <box size="0.022 0.014 0.014"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.0673743 0.108562" rpy="0.2355853 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.02"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.0673743 0.108562" rpy="0.2355853 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.02"/>
      </geometry>
    </collision>
  </link>
  <link name="button 7">
  </link>
  <joint name="link_6_top_button 7_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 7"/>
    <origin xyz="0.0503023 0.042999 0.0089" rpy="0 0 2.28"/>
  </joint>
  <link name="button 6">
  </link>
  <joint name="link_6_top_button 6_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 6"/>
    <origin xyz="0.0642009 0.0156447 0.0089" rpy="0 0 1.8"/>
  </joint>
  <link name="button 5">
  </link>
  <joint name="link_6_top_button 5_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 5"/>
    <origin xyz="0.064216 -0.0150831 0.0089" rpy="0 0 1.3090003"/>
  </joint>
  <link name="button 4">
  </link>
  <joint name="link_6_top_button 4_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 4"/>
    <origin xyz="0.0502593 -0.0432647 0.0089" rpy="0 0 0.9162997"/>
  </joint>
  <link name="button 3">
  </link>
  <joint name="link_6_top_button 3_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 3"/>
    <origin xyz="-0.0505297 -0.0431944 0.0089" rpy="0 0 2.28"/>
  </joint>
  <link name="button 2">
  </link>
  <joint name="link_6_top_button 2_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 2"/>
    <origin xyz="-0.0642012 -0.0156443 0.0089" rpy="0 0 1.8"/>
  </joint>
  <link name="button 1">
  </link>
  <joint name="link_6_top_button 1_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 1"/>
    <origin xyz="-0.0643129 0.0151085 0.0089" rpy="0 0 1.3090003"/>
  </joint>
  <link name="button 0">
  </link>
  <joint name="link_6_top_button 0_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 0"/>
    <origin xyz="-0.0501799 0.0432036 0.0089" rpy="0 0 0.9162997"/>
  </joint>
  <link name="cap screw">
    <visual>
      <origin xyz="0 0 0.005" rpy="3.1415927 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.005" rpy="3.1415927 0 0"/>
      <geometry>
        <cylinder radius="0.005" length="0.01"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 -0.005" rpy="-4.2146848e-08 0 0"/>
      <geometry>
        <cylinder radius="0.00833333" length="0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.005" rpy="-4.2146848e-08 0 0"/>
      <geometry>
        <cylinder radius="0.00833333" length="0.01"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_cap screw_joint" type="fixed">
    <parent link="base_link"/>
    <child link="cap screw"/>
    <origin xyz="0.0962 0 0.099" rpy="3.1415927 -1.5707923 3.1415927"/>
  </joint>
</robot>
