<?xml version="1.0"?>
<robot name="P-Rob3" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.173" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.09" length="0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.173" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.09" length="0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.051" rpy="0 0 0"/>
      <geometry>
        <box size="0.21 0.32 0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.051" rpy="0 0 0"/>
      <geometry>
        <box size="0.21 0.32 0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.151" rpy="0 0 0"/>
      <geometry>
        <box size="0.21 0.22 0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.151" rpy="0 0 0"/>
      <geometry>
        <box size="0.21 0.22 0.1"/>
      </geometry>
    </collision>
  </link>
  <joint name="motor 1" type="revolute">
    <parent link="base_link"/>
    <child link="link_1_2"/>
    <axis xyz="0 0 1"/>
    <limit effort="159.696" lower="-2.95903" upper="2.95903" velocity="1.74533"/>
    <origin xyz="0 0 0.212" rpy="0 0 0"/>
  </joint>
  <link name="link_1_2">
    <visual>
      <origin xyz="0 0 0.0555" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.09" length="0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.0555" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.09" length="0.07"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.05 0.1485" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.085" length="0.09"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.05 0.1485" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.085" length="0.09"/>
      </geometry>
    </collision>
  </link>
  <joint name="motor 2" type="revolute">
    <parent link="link_1_2"/>
    <child link="link_2_3"/>
    <axis xyz="0 1 0"/>
    <limit effort="159.696" lower="-1.91148" upper="1.91148" velocity="1.74533"/>
    <origin xyz="0 0 0.1505" rpy="0 0 0"/>
  </joint>
  <link name="link_2_3">
    <visual>
      <origin xyz="0 -0.05 0.005" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.09" length="0.09"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.05 0.005" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.09" length="0.09"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.115" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.06"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.115" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.06"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -0.055 0.285" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.07" length="0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.055 0.285" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.07" length="0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.18" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.085" length="0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.18" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.085" length="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint name="motor 3" type="revolute">
    <parent link="link_2_3"/>
    <child link="link_3_4"/>
    <axis xyz="0 1 0"/>
    <limit effort="80.1455" lower="-1.99927" upper="1.99927" velocity="2.44346"/>
    <origin xyz="0 0 0.29" rpy="0 0 0"/>
  </joint>
  <link name="link_3_4">
    <visual>
      <origin xyz="0 0.055 -0.0005" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.07" length="0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.055 -0.0005" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.07" length="0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.1225" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.09"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.1225" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.09"/>
      </geometry>
    </collision>
  </link>
  <joint name="motor 4" type="revolute">
    <parent link="link_3_4"/>
    <child link="link_4_5"/>
    <axis xyz="0 0 1"/>
    <limit effort="30.1005" lower="-2.95153" upper="2.95153" velocity="2.79253"/>
    <origin xyz="0 0 0.164" rpy="0 0 0"/>
  </joint>
  <link name="link_4_5">
    <visual>
      <origin xyz="0 0 0.049" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.049" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.07"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.05 0.142" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.069" length="0.09"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.05 0.142" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.069" length="0.09"/>
      </geometry>
    </collision>
  </link>
  <joint name="motor 5" type="revolute">
    <parent link="link_4_5"/>
    <child link="link_5_6"/>
    <axis xyz="0 1 0"/>
    <limit effort="30.1005" lower="-1.9977" upper="1.9977" velocity="2.79253"/>
    <origin xyz="0 0 0.1455" rpy="0 0 0"/>
  </joint>
  <link name="link_5_6">
    <visual>
      <origin xyz="0 -0.05 -0.0055" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.071" length="0.095"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.05 -0.0055" rpy="-1.5708 0 0"/>
      <geometry>
        <cylinder radius="0.071" length="0.095"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.1045" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.073" length="0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.1045" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.073" length="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint name="motor 6" type="revolute">
    <parent link="link_5_6"/>
    <child link="link_6_top"/>
    <axis xyz="0 0 1"/>
    <limit effort="16.4816" lower="-2.95833" upper="2.95833" velocity="2.79253"/>
    <origin xyz="0 0 0.129" rpy="0 0 0"/>
  </joint>
  <link name="link_6_top">
    <visual>
      <origin xyz="0 0 0.02775" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0683" length="0.04"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.02775" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.0683" length="0.04"/>
      </geometry>
    </collision>
  </link>
  <link name="ts_emitter">
  </link>
  <joint name="link_6_top_ts_emitter_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="ts_emitter"/>
    <origin xyz="0 0 0.02075" rpy="0 0 0"/>
  </joint>
  <link name="link_base_tcp180">
    <visual>
      <origin xyz="0 0 0.026" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.026" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.08"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 -0.014" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 -0.014" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.08" length="0.07"/>
      </geometry>
    </collision>
  </link>
  <joint name="link_6_top_link_base_tcp180_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="link_base_tcp180"/>
    <origin xyz="0 0 0.07775" rpy="0 0 0"/>
  </joint>
  <link name="gripper middle distance sensor">
  </link>
  <joint name="link_base_tcp180_gripper middle distance sensor_joint" type="fixed">
    <parent link="link_base_tcp180"/>
    <child link="gripper middle distance sensor"/>
    <origin xyz="0 0 0.085" rpy="0 -1.57079 0"/>
  </joint>
  <joint name="gripper::left" type="revolute">
    <parent link="link_base_tcp180"/>
    <child link="left finger"/>
    <axis xyz="-1 -0.000003 0"/>
    <limit effort="5.44164" lower="0" upper="1.0472" velocity="1.0472"/>
    <origin xyz="0 0 0.058" rpy="0.343001 0 3.14159"/>
  </joint>
  <link name="left finger">
    <visual>
      <origin xyz="0 0.043733 0.044271" rpy="-0.287985 0 0"/>
      <geometry>
        <box size="0.034 0.023 0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.043733 0.044271" rpy="-0.287985 0 0"/>
      <geometry>
        <box size="0.034 0.023 0.07"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.056131 0.086511" rpy="-0.3927 0 0"/>
      <geometry>
        <box size="0.03 0.02 0.04"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.056131 0.086511" rpy="-0.3927 0 0"/>
      <geometry>
        <box size="0.03 0.02 0.04"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.05666 0.105248" rpy="0.261798 0 0"/>
      <geometry>
        <box size="0.026 0.021 0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.05666 0.105248" rpy="0.261798 0 0"/>
      <geometry>
        <box size="0.026 0.021 0.03"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.048226 0.127972" rpy="-0.314166 0 0"/>
      <geometry>
        <box size="0.026 0.004 0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.048226 0.127972" rpy="-0.314166 0 0"/>
      <geometry>
        <box size="0.026 0.004 0.025"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.058726 0.127073" rpy="0.62831 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.058726 0.127073" rpy="0.62831 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.025"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.052619 0.121813" rpy="1.23045 0 0"/>
      <geometry>
        <box size="0.022 0.014 0.014"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.052619 0.121813" rpy="1.23045 0 0"/>
      <geometry>
        <box size="0.022 0.014 0.014"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.067374 0.108562" rpy="0.235585 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.02"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.067374 0.108562" rpy="0.235585 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.02"/>
      </geometry>
    </collision>
  </link>
  <link name="left finger sensor 3">
  </link>
  <joint name="left finger_left finger sensor 3_joint" type="fixed">
    <parent link="left finger"/>
    <child link="left finger sensor 3"/>
    <origin xyz="0 0.017324 0.087181" rpy="0.523601 0.261799 1.570808"/>
  </joint>
  <link name="left finger sensor 2">
  </link>
  <joint name="left finger_left finger sensor 2_joint" type="fixed">
    <parent link="left finger"/>
    <child link="left finger sensor 2"/>
    <origin xyz="0 0.021438 0.13449" rpy="0.523597 -1.125744 -1.570798"/>
  </joint>
  <link name="left finger sensor 1">
  </link>
  <joint name="left finger_left finger sensor 1_joint" type="fixed">
    <parent link="left finger"/>
    <child link="left finger sensor 1"/>
    <origin xyz="-0.013 0.02 0.118" rpy="0.523599 0.000001 3.14159"/>
  </joint>
  <link name="left finger sensor 0">
  </link>
  <joint name="left finger_left finger sensor 0_joint" type="fixed">
    <parent link="left finger"/>
    <child link="left finger sensor 0"/>
    <origin xyz="0.013 0.02 0.118" rpy="0.523602 0 0"/>
  </joint>
  <joint name="gripper::right" type="revolute">
    <parent link="link_base_tcp180"/>
    <child link="right finger"/>
    <axis xyz="-1 0 0"/>
    <limit effort="5.44164" lower="0" upper="1.0472" velocity="1.0472"/>
    <origin xyz="0 0 0.058" rpy="0.343 0 0"/>
  </joint>
  <link name="right finger">
    <visual>
      <origin xyz="0 0.043733 0.044271" rpy="-0.287985 0 0"/>
      <geometry>
        <box size="0.034 0.023 0.07"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.043733 0.044271" rpy="-0.287985 0 0"/>
      <geometry>
        <box size="0.034 0.023 0.07"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.056131 0.086511" rpy="-0.3927 0 0"/>
      <geometry>
        <box size="0.03 0.02 0.04"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.056131 0.086511" rpy="-0.3927 0 0"/>
      <geometry>
        <box size="0.03 0.02 0.04"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.05666 0.105248" rpy="0.261798 0 0"/>
      <geometry>
        <box size="0.026 0.021 0.03"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.05666 0.105248" rpy="0.261798 0 0"/>
      <geometry>
        <box size="0.026 0.021 0.03"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.048226 0.127972" rpy="-0.314166 0 0"/>
      <geometry>
        <box size="0.026 0.004 0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.048226 0.127972" rpy="-0.314166 0 0"/>
      <geometry>
        <box size="0.026 0.004 0.025"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.058726 0.127073" rpy="0.62831 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.025"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.058726 0.127073" rpy="0.62831 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.025"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.052619 0.121813" rpy="1.23045 0 0"/>
      <geometry>
        <box size="0.022 0.014 0.014"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.052619 0.121813" rpy="1.23045 0 0"/>
      <geometry>
        <box size="0.022 0.014 0.014"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.067374 0.108562" rpy="0.235585 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.02"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.067374 0.108562" rpy="0.235585 0 0"/>
      <geometry>
        <box size="0.024 0.007 0.02"/>
      </geometry>
    </collision>
  </link>
  <link name="right finger sensor 3">
  </link>
  <joint name="right finger_right finger sensor 3_joint" type="fixed">
    <parent link="right finger"/>
    <child link="right finger sensor 3"/>
    <origin xyz="0 0.017324 0.087181" rpy="0.523599 0.261799 1.570803"/>
  </joint>
  <link name="right finger sensor 2">
  </link>
  <joint name="right finger_right finger sensor 2_joint" type="fixed">
    <parent link="right finger"/>
    <child link="right finger sensor 2"/>
    <origin xyz="0 0.021438 0.13449" rpy="0.523597 -1.125744 -1.570798"/>
  </joint>
  <link name="right finger sensor 1">
  </link>
  <joint name="right finger_right finger sensor 1_joint" type="fixed">
    <parent link="right finger"/>
    <child link="right finger sensor 1"/>
    <origin xyz="-0.013 0.02 0.118" rpy="0.523599 0.000001 3.14159"/>
  </joint>
  <link name="right finger sensor 0">
  </link>
  <joint name="right finger_right finger sensor 0_joint" type="fixed">
    <parent link="right finger"/>
    <child link="right finger sensor 0"/>
    <origin xyz="0.013 0.02 0.118" rpy="0.523599 0 0"/>
  </joint>
  <link name="button 7">
  </link>
  <joint name="link_6_top_button 7_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 7"/>
    <origin xyz="0.050302 0.042999 0.0089" rpy="-1.570796 0 2.28"/>
  </joint>
  <link name="button 6">
  </link>
  <joint name="link_6_top_button 6_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 6"/>
    <origin xyz="0.064201 0.015645 0.0089" rpy="-1.570796 0 1.8"/>
  </joint>
  <link name="button 5">
  </link>
  <joint name="link_6_top_button 5_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 5"/>
    <origin xyz="0.064216 -0.015083 0.0089" rpy="-1.570796 0 1.309"/>
  </joint>
  <link name="button 4">
  </link>
  <joint name="link_6_top_button 4_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 4"/>
    <origin xyz="0.050259 -0.043265 0.0089" rpy="-1.570796 0 0.9163"/>
  </joint>
  <link name="button 3">
  </link>
  <joint name="link_6_top_button 3_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 3"/>
    <origin xyz="-0.05053 -0.043194 0.0089" rpy="-1.570796 0 2.28"/>
  </joint>
  <link name="button 2">
  </link>
  <joint name="link_6_top_button 2_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 2"/>
    <origin xyz="-0.064201 -0.015644 0.0089" rpy="-1.570796 0 1.8"/>
  </joint>
  <link name="button 1">
  </link>
  <joint name="link_6_top_button 1_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 1"/>
    <origin xyz="-0.064313 0.015109 0.0089" rpy="-1.570796 0 1.309"/>
  </joint>
  <link name="button 0">
  </link>
  <joint name="link_6_top_button 0_joint" type="fixed">
    <parent link="link_6_top"/>
    <child link="button 0"/>
    <origin xyz="-0.05018 0.043204 0.0089" rpy="-1.570796 0 0.9163"/>
  </joint>
  <link name="cap screw">
    <visual>
      <origin xyz="0.005 0 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.005" length="0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.005 0 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.005" length="0.01"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="-0.005 0 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.00833333" length="0.01"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.005 0 0" rpy="3.141593 1.570793 3.141593"/>
      <geometry>
        <cylinder radius="0.00833333" length="0.01"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_link_cap screw_joint" type="fixed">
    <parent link="base_link"/>
    <child link="cap screw"/>
    <origin xyz="0.0962 0 0.099" rpy="0 0 3.141593"/>
  </joint>
</robot>
