<?xml version="1.0"?>
<robot name="UR5e" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_footprint"></link>
  <joint name="base_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_footprint"/>
    <axis xyz="0 0 0"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
  <link name="base_link">
    <visual name="transform_8">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="group_9">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_10">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_11">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_20">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_21">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_31">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="group_32">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_33">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_34">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_43">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_44">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_54">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="group_55">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_56">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_57">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_66">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_67">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_77">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="group_78">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_79">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_80">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_89">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_90">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_100">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_104">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_323">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
  <joint name="shoulder_pan_joint_sensor" type="continuous">
    <parent link="base_link"/>
    <child link="shoulder_link"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0 0 0.163" rpy="0 0 0"/>
  </joint>
  <link name="shoulder_link">
    <visual name="shape_113">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_117">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_121">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_128">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="group_317">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_318">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_320">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
  <joint name="shoulder_lift_joint_sensor" type="continuous">
    <parent link="shoulder_link"/>
    <child link="upper_arm_link"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 0.138 0" rpy="0 1.5707959999869179 0"/>
  </joint>
  <link name="upper_arm_link">
    <visual name="shape_137">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_144">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_148">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_152">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_156">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_163">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_167">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_171">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_175">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_179">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="group_310">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_311">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_314">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
  <joint name="elbow_joint_sensor" type="continuous">
    <parent link="upper_arm_link"/>
    <child link="forearm_link"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 -0.131 0.425" rpy="0 0 0"/>
  </joint>
  <link name="forearm_link">
    <visual name="shape_188">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_192">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_196">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_200">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_204">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_208">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_215">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_219">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="group_300">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_301">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_303">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_305">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_307">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
  <joint name="wrist_1_joint_sensor" type="continuous">
    <parent link="forearm_link"/>
    <child link="wrist_1_link"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 0 0.392" rpy="0 1.5707959999869179 0"/>
  </joint>
  <link name="wrist_1_link">
    <visual name="shape_228">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_232">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_239">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_243">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="group_294">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_295">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_297">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
  <joint name="wrist_2_joint_sensor" type="continuous">
    <parent link="wrist_1_link"/>
    <child link="wrist_2_link"/>
    <axis xyz="0 0 1"/>
    <origin xyz="0 0.127 0" rpy="0 0 0"/>
  </joint>
  <link name="wrist_2_link">
    <visual name="shape_252">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_256">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_263">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="shape_267">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="group_288">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_289">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_291">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
  <joint name="wrist_3_joint_sensor" type="continuous">
    <parent link="wrist_2_link"/>
    <child link="wrist_3_link"/>
    <axis xyz="0 1 0"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>
  <link name="wrist_3_link">
    <visual name="shape_276">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_280">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="group_282">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_283">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
    <visual name="transform_285">
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
    </visual>
  </link>
</robot>
