<?xml version="1.0"?>
<robot name="UR5e" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.076" length="0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.05" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.076" length="0.1"/>
      </geometry>
    </collision>
  </link>
  <joint name="shoulder_pan_joint" type="revolute">
    <parent link="base_link"/>
    <child link="shoulder_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="150" lower="-6.28319" upper="6.28319" velocity="3.14"/>
    <origin xyz="0 0 0.163" rpy="0 0 0"/>
  </joint>
  <link name="shoulder_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.059" length="0.135"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.059" length="0.135"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.03 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.059" length="0.093"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.03 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.059" length="0.093"/>
      </geometry>
    </collision>
  </link>
  <joint name="shoulder_lift_joint" type="revolute">
    <parent link="shoulder_link"/>
    <child link="upper_arm_link"/>
    <axis xyz="0 1 0"/>
    <limit effort="150" lower="-6.28319" upper="6.28319" velocity="3.14"/>
    <origin xyz="0 0.138 0" rpy="0 1.570796 0"/>
  </joint>
  <link name="upper_arm_link">
    <visual>
      <origin xyz="0 0 0.22" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.059" length="0.407"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.22" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.059" length="0.407"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.059" length="0.133"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.059" length="0.133"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -0.005 0.424" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.059" length="0.149"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.005 0.424" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.059" length="0.149"/>
      </geometry>
    </collision>
  </link>
  <joint name="elbow_joint" type="revolute">
    <parent link="upper_arm_link"/>
    <child link="forearm_link"/>
    <axis xyz="0 1 0"/>
    <limit effort="150" lower="-3.14159" upper="3.14159" velocity="3.14"/>
    <origin xyz="0 -0.131 0.425" rpy="0 0 0"/>
  </joint>
  <link name="forearm_link">
    <visual>
      <origin xyz="0 0 0.207" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.038" length="0.36"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.207" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.038" length="0.36"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -0.001 0.39" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.039" length="0.109"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.001 0.39" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.039" length="0.109"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.06 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.058" length="0.05"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.06 0" rpy="1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.058" length="0.05"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.06 0.025" rpy="1.570796 0 0"/>
      <geometry>
        <sphere radius="0.058"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.06 0.025" rpy="1.570796 0 0"/>
      <geometry>
        <sphere radius="0.058"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.06 -0.025" rpy="1.570796 0 0"/>
      <geometry>
        <sphere radius="0.058"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.06 -0.025" rpy="1.570796 0 0"/>
      <geometry>
        <sphere radius="0.058"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0.07" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.1"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.07" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.1"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.05 0.07" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.05 0.07" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -0.05 0.07" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.05 0.07" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.04"/>
      </geometry>
    </collision>
  </link>
  <joint name="wrist_1_joint" type="revolute">
    <parent link="forearm_link"/>
    <child link="wrist_1_link"/>
    <axis xyz="0 1 0"/>
    <limit effort="28" lower="-6.28319" upper="6.28319" velocity="6.28"/>
    <origin xyz="0 0 0.392" rpy="0 1.570796 0"/>
  </joint>
  <link name="wrist_1_link">
    <visual>
      <origin xyz="0 0.089 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.038" length="0.086"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.089 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.038" length="0.086"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.126 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.038" length="0.112"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.126 0" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.038" length="0.112"/>
      </geometry>
    </collision>
  </link>
  <joint name="wrist_2_joint" type="revolute">
    <parent link="wrist_1_link"/>
    <child link="wrist_2_link"/>
    <axis xyz="0 0 1"/>
    <limit effort="28" lower="-6.28319" upper="6.28319" velocity="6.28"/>
    <origin xyz="0 0.127 0" rpy="0 0 0"/>
  </joint>
  <link name="wrist_2_link">
    <visual>
      <origin xyz="0 -0.001 0.0995" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.108"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.001 0.0995" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.04" length="0.108"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 -0.001 0.0676" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.038" length="0.043"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 -0.001 0.0676" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.038" length="0.043"/>
      </geometry>
    </collision>
  </link>
  <joint name="wrist_3_joint" type="revolute">
    <parent link="wrist_2_link"/>
    <child link="wrist_3_link"/>
    <axis xyz="0 1 0"/>
    <limit effort="28" lower="-6.28319" upper="6.28319" velocity="6.28"/>
    <origin xyz="0 0 0.1" rpy="0 0 0"/>
  </joint>
  <link name="wrist_3_link">
    <visual>
      <origin xyz="0 0.07 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.038" length="0.048"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.07 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.038" length="0.048"/>
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0.09 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.032" length="0.018"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0.09 0" rpy="-1.570796 0 0"/>
      <geometry>
        <cylinder radius="0.032" length="0.018"/>
      </geometry>
    </collision>
  </link>
  <link name="track">
  </link>
  <joint name="wrist_3_link_track_joint" type="fixed">
    <parent link="wrist_3_link"/>
    <child link="track"/>
    <origin xyz="0 0.1 0" rpy="0 0 0"/>
  </joint>
  <link name="ts_emitter">
  </link>
  <joint name="wrist_3_link_ts_emitter_joint" type="fixed">
    <parent link="wrist_3_link"/>
    <child link="ts_emitter"/>
    <origin xyz="0 0.1 0" rpy="0 0 0"/>
  </joint>
</robot>
