html {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #fafafa;
  font-family: "Raleway-light";
  min-width: 620px;
}

.title-container {
  position: relative;
  background-color: #34495e;
  height: 65px;
  box-shadow: 0 -15px 15px 15px rgba(0, 0, 0, 0.4);
  background-image: url("https://cyberbotics.com/assets/images/webots.png");
  background-repeat: no-repeat;
  background-position: 16px 11px;
  background-size: 40px;
  z-index: 1;
}

.title-container h1 {
  padding-left: 70px;
  font-size: 26px;
  font-weight: 300;
  color: #fafafa;
  position: absolute;
}

.connect-container {
  padding: 15px;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 100px auto;
  grid-template-rows: 25px 25px 25px;
}

.grid-item {
  align-self: center;
}

#connect-button {
  border: none;
  border-radius: 4px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100px;
  color: #fafafa;
  cursor: pointer;
  margin-left: 10px;
  background-color: #34495e;
}

#connect-button:hover {
  opacity: 0.8;
}

.webots-view-container {
  margin: 0;
  height: calc(100vh - 176px);
  display: flex;
  justify-content: center;
}

webots-view {
  width: 100%;
  display: block;
  position: relative;
}
