html {
  font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}
html, body {
  margin: 0;
  padding:0;
  height: 100%;
  overflow-y: hidden;
  display: flex; 
  flex-flow: column;
}
header {
  padding: 0 10px 10px 10px;
}

#playerDiv {
  flex: 1;
}
