@font-face {
  font-family: "Arial Black";
  src: url("../fonts/Arial Black.woff2");
}

@font-face {
  font-family: "Ariali";
  src: url("../fonts/Ariali.woff2");
}

@font-face {
  font-family: "Code 2000";
  src: url("../fonts/Code 2000.woff2");
}

@font-face {
  font-family: "Code 2001";
  src: url("../fonts/Code 2001.woff2");
}

@font-face {
  font-family: "Code 2002"
  src: url("../fonts/Code 2002.woff2");
}

@font-face {
  font-family: "Comic Sans MS";
  src: url("../fonts/Comic Sans MS.woff2");
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/Georgia.woff2");
}

@font-face {
  font-family: "Impact";
  src: url("../fonts/Impact.woff2");
}

@font-face {
  font-family: "Lucida Console";
  src: url("../fonts/Lucida Console.woff2");
}

@font-face {
  font-family: "Lucida Sans Unicode";
  src: url("../fonts/Lucida Sans Unicode.woff2");
}

@font-face {
  font-family: "Palatino Linotype";
  src: url("../fonts/Palatino Linotype.woff2");
}

@font-face {
  font-family: "Raleway-Light";
  src: url("../fonts/Raleway-Light.woff2");
}

@font-face {
  font-family: "Tahoma";
  src: url("../fonts/Tahoma.woff2");
}

@font-face {
  font-family: "Trebuchet MS";
  src: url("../fonts/Trebuchet MS.woff2");
}

@font-face {
  font-family: "Verdana";
  src: url("../fonts/Verdana.woff2");
}
