body {
  margin: 20px; auto;
  font-family: 'trebuchet MS', 'Lucida sans', Arial;
  font-size: 14px;
  color: #444;
}

table {
  border-spacing: 0;
}

.bordered {
  border: solid #ccc 1px;
  border-radius: 6px;
  box-shadow: 0 1px 1px #ccc;
}

.bordered tr:hover {
  background: #fbf8e9;
  transition: all 0.1s ease-in-out;
}

.bordered td, .bordered th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.bordered th {
  background-color: #dce9f9;
  background-image: linear-gradient(top, #ebf3fc, #dce9f9);
  box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
  border-top: none;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.bordered td:first-child, .bordered th:first-child {
  border-left: none;
}

.bordered th:first-child {
  border-radius: 6px 0 0 0;
}

.bordered th:last-child {
  border-radius: 0 6px 0 0;
}

.bordered th:only-child{
  border-radius: 6px 6px 0 0;
}

.bordered tr:last-child td:first-child {
  border-radius: 0 0 0 6px;
}

.bordered tr:last-child td:last-child {
  border-radius: 0 0 6px 0;
}
