@import "fonts.css";

/* Default */

webots-view #progress {
  position: relative;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 140px;
  overflow: hidden;
  background-color: black;
  font-family: 'Raleway-Light';
  z-index: 5;
}

webots-view #progress-image {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  filter: blur(2px) opacity(0.8);
  animation: progress-image-zoom 40s infinite;
}

webots-view .progress-panel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  max-width: 500px;
  max-height: 300px;
  min-width: 260px;
  min-height: 90px;
  background: linear-gradient(rgba(34, 34, 34, 0.8), rgba(68, 68, 68, 0.8));
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 0 25px black;
  text-align: center;
}

webots-view .progress-panel-title {
  position: absolute;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  color: white;
}

webots-view .progress-panel-title img {
  position: relative;
  top: -15px;
  width: 70px;
}

webots-view .progress-panel-title p {
  font-weight: 400;
  font-size: 40px;
  margin: 0 0 0 10px;
  color: white;
  font-family: 'Raleway-Light';
}

webots-view .progress-panel-subtitle {
  position: relative;
  width: 100%;
  top: 85px;
  font-weight: 300;
  font-size: 14px;
  margin: 0;
  color: white;
}

webots-view .progress-panel-version {
  position: relative;
  top: 100px;
  width: 100%;
  font-weight: 300;
  font-size: 30px;
  margin: 0;
  color: white;
}

webots-view .progress-panel-copyright {
  position: absolute;
  width: 100%;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  font-size: 11px;
  color: white;
}

webots-view #progress-bar {
  position: relative;
  top: 115px;
  margin: auto;
  width: 80%;
  height: 70px;
}

webots-view #progress-bar-message {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: 0;
  color: lightgray;
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

webots-view #progress-bar-percent {
  position: absolute;
  bottom: 20px;
  left: 0;
  height: 20px;
  width: 100%;
}

webots-view #progress-bar-percent-background {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  background: rgba(150, 150, 150, 0.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3) inset;
}

webots-view #progress-bar-percent-value {
  position: absolute;
  height: 100%;
  background-color: #007acc;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: 0.2s all ease-in-out;
}

webots-view #progress-bar-info {
  position: absolute;
  text-align: center;
  width: 100%;
  right: 0;
  top: 54px;
  font-size: 11px;
  font-family: 'Arial';
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5em;
  height: 3em;
}

/* Animation */

@keyframes progress-image-zoom {
  0% {
    filter: blur(2px) opacity(0.2);
    transform: scale(1.2);
  }
  25% {
    filter: blur(2px) opacity(0.8);
  }
  50% {
    transform: scale(1);
  }
  75% {
    filter: blur(2px) opacity(0.8);
  }
  100% {
    filter: blur(2px) opacity(0.2);
    transform: scale(1.2);
  }
}
