name: Discord Doc Updater

on:
  schedule:
  - cron: "0 13 * * 3"
  pull_request:
    types: [labeled]

jobs:
  build:
    if: ${{ contains(github.event.pull_request.labels.*.name, 'discord publishing') || github.event_name == 'schedule' }}
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: released
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install discord
    - name: Run discord updater
      run: |
        python ./docs/discord/update.py -t ${{ secrets.DISCORD_TOKEN }}
    - name: Branch and Commit
      run: |
        git config --global user.name ${GITHUB_ACTOR}
        git config --global user.email ${GITHUB_ACTOR}@github.com
        git checkout -b discord-doc-update
        git add ./docs/discord
        git commit -m "Update discord docs."
        git push origin discord-doc-update
    - name: GitHub Pull Request Action
      uses: repo-sync/pull-request@v2.6.2
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        source_branch: discord-doc-update
        destination_branch: released
        pr_title: Update Discord Docs
        pr_body: Automatic update of the docs from the Discord channels (https://cyberbotics.com/doc/discord/index?version=discord-doc-update).
        pr_reviewer: Maintainers
        pr_label: documentation
