name: Test Suite

on: 
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

defaults:
  run:
    shell: bash
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.pull_request.draft == false
    steps:
    - uses: actions/checkout@v2
    - name: Checkout Submodules
      uses: textbook/git-checkout-submodule-action@master
    - name: Install Webots Dependencies 
      run: |
        # common dependencies
        sudo apt -y install git g++ cmake execstack libusb-dev swig python2.7-dev python3.6-dev python3.7-dev python3.8-dev libglu1-mesa-dev libglib2.0-dev libfreeimage-dev libfreetype6-dev libxml2-dev libzzip-0-13 libboost-dev libavcodec-extra libgd-dev libssh-gcrypt-dev libzip-dev libreadline-dev pbzip2 libpci-dev libxcb-keysyms1 libxcb-image0 libxcb-icccm4 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0
        # ubuntu 18.04 dependencies
        sudo apt -y install libssl1.0-dev ffmpeg python-pip
        # optional dependencies
        sudo apt -y install openjdk-11-jdk npm
        # ubuntu server dependencies
        sudo apt -y install libxkbcommon-x11-dev
    - name: Make
      run: |
        export LIBGL_ALWAYS_SOFTWARE=true
        xvfb-run --auto-servernum make distrib -j4
    - uses: actions/upload-artifact@v2
      with:
        path: distribution/*.tar.bz2
  test-suite:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        test: [tests/test_suite.py, src/packaging/update_all_worlds.py]
        include:
          - test: tests/test_suite.py
            POST_TASK: ""
          - test: src/packaging/update_all_worlds.py
            POST_TASK: "if [[ \"$(git diff --name-only *.wbt *.wbproj | wc -l)\" -ne \"0\" ]]; then echo Some world and/or wbproj files are not up to date: \"$(git diff *.wbt *.wbproj)\"; exit -1; fi"
    steps:  
    - uses: actions/checkout@v2
    - name: Download Artifacts
      uses: actions/download-artifact@v2
    - name: Extract Webots
      run: |
        tar xjf artifact/webots-*-x86-64.tar.bz2 -C artifact
    - name: Install Webots Dependencies
      run: sudo apt -y install g++ make ffmpeg libavcodec-extra libglu1-mesa libxkbcommon-x11-dev execstack libusb-dev libxcb-keysyms1 libxcb-image0 libxcb-icccm4 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: ${{ matrix.test }}
      run: |
        export LIBGL_ALWAYS_SOFTWARE=true
        export WEBOTS_DISABLE_SAVE_SCREEN_PERSPECTIVE_ON_CLOSE=true
        export WEBOTS_HOME=$PWD/artifact/webots
        xvfb-run --auto-servernum python ${{ matrix.test }}
        ${{ matrix.POST_TASK }}
  test-ros:
    strategy:
      matrix:
        os: [ubuntu-16.04]
        include:
          - os: ubuntu-16.04
            python: 2.7
            ROS_DISTRO: kinetic
         # - os: ubuntu-18.04
         #   python: 2.7
         #   ROS_DISTRO: melodic
         # - os: ubuntu-20.04
         #   python: 3.8
         #   ROS_DISTRO: noetic
    runs-on: ${{ matrix.os }}
    steps:  
    - uses: actions/checkout@v2
    - name: Download Artifacts
      uses: actions/download-artifact@v2
    - name: Extract Webots
      run: |
        tar xjf artifact/webots-*-x86-64.tar.bz2 -C artifact
    - name: Install Webots Dependencies
      run: sudo apt -y install g++ make ffmpeg libavcodec-extra libglu1-mesa libxkbcommon-x11-dev execstack libusb-dev libxcb-keysyms1 libxcb-image0 libxcb-icccm4 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version:  ${{ matrix.python }}
    - name: Setup ROS environment
      uses: ros-tooling/setup-ros@0.0.25
      with:
        required-ros-distributions: ${{ matrix.ROS_DISTRO }}
    - name: Run Test
      run: |
        export LIBGL_ALWAYS_SOFTWARE=true
        export WEBOTS_DISABLE_SAVE_SCREEN_PERSPECTIVE_ON_CLOSE=true
        export WEBOTS_HOME=$PWD/artifact/webots
        xvfb-run --auto-servernum ./tests/ros.sh
