name: Test Sources

on: 
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

defaults:
  run:
    shell: bash

jobs:
  test-sources:
    strategy:
      matrix:
        os: [ubuntu-16.04, ubuntu-18.04, ubuntu-20.04, macos-10.15]
        python: [2.7, 3.8]
        include:
          - os: ubuntu-16.04
            DEPENDENCIES_INSTALLATION: "sudo apt -y install clang-format-9"
          - os: ubuntu-18.04
            DEPENDENCIES_INSTALLATION: "sudo apt -y install clang-format-9"
          - os: ubuntu-20.04
            DEPENDENCIES_INSTALLATION: "sudo apt -y install clang-format-9"
          - os: macos-10.15
            DEPENDENCIES_INSTALLATION: "brew install clang-format cppcheck"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      if: matrix.os == 'macOS-10.14' || github.event.pull_request.draft == false
    - name: Set up Python ${{ matrix.python }}
      if: matrix.os == 'macOS-10.14' || github.event.pull_request.draft == false
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Tests
      if: matrix.os == 'macOS-10.14' || github.event.pull_request.draft == false
      run: |
        ${{ matrix.DEPENDENCIES_INSTALLATION }}
        cp dependencies/.clang-format-9 .clang-format
        pip install -r tests/sources/requirements.txt
        export WEBOTS_HOME=$PWD
        python -m unittest discover -s tests/sources
