name: Test Suite

on: 
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

defaults:
  run:
    shell: bash
jobs:
  build:
    # if: github.event.pull_request.draft == false
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
        include:
          - os: ubuntu-18.04
            DEPENDENCIES: "libssl1.0-dev ffmpeg python-pip npm"
            JAVA_VERSION: "11"
          - os: ubuntu-20.04
            DEPENDENCIES: "libssl-dev ffmpeg python-pip-whl npm libzip5"
            JAVA_VERSION: "14"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Checkout Submodules
      uses: textbook/git-checkout-submodule-action@master
    - name: Install Webots Compilation Dependencies 
      run: |
        sudo add-apt-repository ppa:deadsnakes/ppa
        sudo apt update
        # common dependencies
        sudo apt -y install git g++ cmake execstack libusb-dev swig openjdk-${{ matrix.JAVA_VERSION }}-jdk python2.7-dev python3.6-dev python3.7-dev python3.8-dev libglu1-mesa-dev libglib2.0-dev libfreeimage-dev libfreetype6-dev libxml2-dev libzzip-0-13 libboost-dev libavcodec-extra libgd3 libssh-gcrypt-dev libzip-dev libreadline-dev pbzip2 libpci-dev libxcb-keysyms1 libxcb-image0 libxcb-icccm4 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0
        # version specific dependencies
        sudo apt -y install ${{ matrix.DEPENDENCIES }}
        # ubuntu server dependencies
        sudo apt -y install libxkbcommon-x11-dev
    - name: Webots Package Creation
      run: |
        export JAVA_HOME=/usr/lib/jvm/java-${{ matrix.JAVA_VERSION }}-openjdk-amd64
        export PATH=$JAVA_HOME/bin:$PATH
        export LIBGL_ALWAYS_SOFTWARE=true
        xvfb-run --auto-servernum make distrib -j4
    - uses: actions/upload-artifact@v2
      with:
        name: build-${{ matrix.os }}
        path: distribution/*.tar.bz2
  test-suite:
    needs: build
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
        test: [tests/test_suite.py, src/packaging/update_all_worlds.py]
        include:
          - test: tests/test_suite.py
            POST_TASK: ""
          - test: src/packaging/update_all_worlds.py
            POST_TASK: "if [[ \"$(git diff --name-only *.wbt *.wbproj | wc -l)\" -ne \"0\" ]]; then echo Some world and/or wbproj files are not up to date: \"$(git diff *.wbt *.wbproj)\"; exit -1; fi"
    runs-on: ${{ matrix.os }}
    steps:  
    - uses: actions/checkout@v2
    - name: Download Artifacts
      uses: actions/download-artifact@v2
      with:
        name: build-${{ matrix.os }}
    - name: Extract Webots
      run: |
        mkdir artifact
        tar xjf webots-*-x86-64.tar.bz2 -C artifact
    - name: Install Webots Dependencies
      run: |
        sudo apt update
        sudo apt -y install g++ make ffmpeg libavcodec-extra libglu1-mesa libxkbcommon-x11-dev execstack libusb-dev libxcb-keysyms1 libxcb-image0 libxcb-icccm4 libxcb-randr0 libxcb-render-util0 libxcb-xinerama0
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: ${{ matrix.test }}
      run: |
        export LIBGL_ALWAYS_SOFTWARE=true
        export WEBOTS_DISABLE_SAVE_SCREEN_PERSPECTIVE_ON_CLOSE=true
        export WEBOTS_HOME=$PWD/artifact/webots
        xvfb-run --auto-servernum python ${{ matrix.test }}
        ${{ matrix.POST_TASK }}
