name: Test Suite Linux

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  schedule:
    - cron:  '0 23 * * *'
  push:
    tags:
      - '*'

defaults:
  run:
    shell: bash
jobs:
  cleanup-runs:
    runs-on: ubuntu-latest
    steps:
    - uses: rokroskar/workflow-run-cleanup-action@v0.3.0
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  build:
    needs: cleanup-runs
    if: ${{ github.event_name == 'push' || github.event_name == 'schedule' || contains(github.event.pull_request.labels.*.name, 'test distribution') || contains(github.event.pull_request.labels.*.name, 'test suite') || contains(github.event.pull_request.labels.*.name, 'test ros') || contains(github.event.pull_request.labels.*.name, 'test world update') }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
        include:
          - os: ubuntu-18.04
            JAVA_VERSION: "11"
            ROS_DISTRO: "melodic"
          - os: ubuntu-20.04
            JAVA_VERSION: "14"
            ROS_DISTRO: "noetic"
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
         submodules: true
    - name: Install Webots Compilation Dependencies
      run: |
        # GitHub Actions `libzip-dev` hotfix
        sudo apt purge libzip4
        sudo apt autoremove
        sudo apt install -y libzip-dev

        sudo scripts/install/linux_optional_compilation_dependencies.sh
    - name: Set Commit SHA in Version
      if: ${{ github.event_name == 'schedule' }}
      run: python scripts/packaging/set_commit_and_date_in_version.py ${{ github.sha }}
    - name: Webots Package Creation
      run: |
        export JAVA_HOME=/usr/lib/jvm/java-${{ matrix.JAVA_VERSION }}-openjdk-amd64
        export PATH=$JAVA_HOME/bin:$PATH
        export LIBGL_ALWAYS_SOFTWARE=true
        export ROS_DISTRO=${{ matrix.ROS_DISTRO }}
        xvfb-run --auto-servernum make distrib -j4
    - name: Prepare Webots Controller Deployment
      if: ${{ github.event_name == 'schedule' && matrix.os == 'ubuntu-18.04' }}
      uses: webfactory/ssh-agent@v0.5.3
      with:
        ssh-private-key: ${{ secrets.WEBOTS_CONTROLLER_DEPLOY_KEY }}
    - name: Deploy Webots Controller
      if: ${{ github.event_name == 'schedule' && matrix.os == 'ubuntu-18.04' }}
      run: scripts/packaging/sync_controller_lib.sh
    - name: Rename Webots Tarball Package
      if: ${{ matrix.os == 'ubuntu-18.04' }}
      run: |
        sudo apt install --yes rename
        rename 's/\.tar.bz2$/_ubuntu-18.04.tar.bz2/' distribution/*.tar.bz2
    - name: Create/Update GitHub release
      if: ${{ (github.event_name == 'push' || github.event_name == 'schedule') }}
      run: |
        sudo python -m pip install requests PyGithub
        scripts/packaging/publish_release.py --key=${{ secrets.GITHUB_TOKEN }} --repo=${{ github.repository }} --branch=${{ github.ref }} --commit=${{ github.sha }} --tag=${{ github.ref }}
    - uses: actions/upload-artifact@v2
      if: ${{ contains(github.event.pull_request.labels.*.name, 'test suite') || contains(github.event.pull_request.labels.*.name, 'test ros') || contains(github.event.pull_request.labels.*.name, 'test world update') }}
      with:
        name: build-${{ matrix.os }}
        path: |
          distribution/*.tar.bz2
    - uses: actions/upload-artifact@v2
      if: ${{ !contains(github.event.pull_request.labels.*.name, 'test suite') && !contains(github.event.pull_request.labels.*.name, 'test ros') && !contains(github.event.pull_request.labels.*.name, 'test world update') }}
      with:
        name: build-${{ matrix.os }}
        path: |
          distribution/*.tar.bz2
          distribution/*.deb
  test-suite:
    needs: build
    if: ${{ contains(github.event.pull_request.labels.*.name, 'test suite') || github.event_name == 'schedule' }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - name: Download Artifacts
      uses: actions/download-artifact@v2
      with:
        name: build-${{ matrix.os }}
        path: artifact
    - name: Extract Webots
      run: tar xjf artifact/webots-*-x86-64*.tar.bz2 -C artifact
    - name: Install Webots Dependencies
      run: sudo scripts/install/linux_test_dependencies.sh --exclude-ros
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Test Suite
      run: |
        export LIBGL_ALWAYS_SOFTWARE=true
        export WEBOTS_DISABLE_SAVE_SCREEN_PERSPECTIVE_ON_CLOSE=true
        xvfb-run --auto-servernum python scripts/packaging/update_urls.py ${{ github.sha }}
        export WEBOTS_HOME=$PWD/artifact/webots
        xvfb-run --auto-servernum python tests/test_suite.py
  test-ros:
    needs: build
    if: ${{ contains(github.event.pull_request.labels.*.name, 'test ros') || github.event_name == 'schedule' }}
    strategy:
      matrix:
        os: [ubuntu-18.04]
        include:
          - os: ubuntu-18.04
            ROS_DISTRO: melodic
            python: 2.7
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
      with:
         submodules: true
    - name: Download Artifacts
      uses: actions/download-artifact@v2
      with:
        name: build-${{ matrix.os }}
        path: artifact
    - name: Extract Webots
      run: tar xjf artifact/webots-*-x86-64*.tar.bz2 -C artifact
    - name: Install Webots Dependencies
      run: sudo scripts/install/linux_test_dependencies.sh --norecurse
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Run Test
      run: |
        export WEBOTS_HOME=$PWD/artifact/webots
        export ROS_DISTRO=${{ matrix.ROS_DISTRO }}
        python -m pip install rospkg catkin_pkg empy defusedxml netifaces
        Xvfb :99 &
        export DISPLAY=:99
        ./tests/ros.sh
  world-update:
    needs: build
    if: ${{ contains(github.event.pull_request.labels.*.name, 'test world update') || github.event_name == 'schedule' }}
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
    - name: Download Artifacts
      uses: actions/download-artifact@v2
      with:
        name: build-ubuntu-18.04
        path: artifact
    - name: Extract Webots
      run: tar xjf artifact/webots-*-x86-64*.tar.bz2 -C artifact
    - name: Install Webots Dependencies
      run: sudo scripts/install/linux_runtime_dependencies.sh
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Update World
      run: |
        export LIBGL_ALWAYS_SOFTWARE=true
        export WEBOTS_DISABLE_SAVE_SCREEN_PERSPECTIVE_ON_CLOSE=true
        export WEBOTS_HOME=$PWD/artifact/webots
        xvfb-run --auto-servernum python scripts/packaging/update_all_worlds.py
        if [[ "$(git diff --name-only *.wbt *.wbproj | wc -l)" -ne "0" ]]; then echo Some world and/or wbproj files are not up to date: "$(git diff *.wbt *.wbproj)"; exit -1; fi
  delete-artifacts:
    needs: [build, test-suite, test-ros, world-update]
    if: ${{ always() && !contains(github.event.pull_request.labels.*.name, 'test distribution') }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-20.04]
    runs-on: ubuntu-latest
    steps:
    - name: Delete artifacts
      uses: geekyeggo/delete-artifact@v1
      with:
        name: build-${{ matrix.os }}
