name: Test Suite Windows

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  schedule:
    - cron:  '0 23 * * *'
  push:
    tags:
      - '*'
    branches:  #TODO: remove
      - '*'

defaults:
  run:
    shell: msys2 {0}

jobs:
  cleanup-runs:
    runs-on: ubuntu-latest
    steps:
    - uses: rokroskar/workflow-run-cleanup-action@master
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
  build:
    needs: cleanup-runs
    if: ${{ github.event_name == 'push' || github.event_name == 'schedule' || contains(github.event.pull_request.labels.*.name, 'test distribution') || contains(github.event.pull_request.labels.*.name, 'test suite') }}
    strategy:
      matrix:
        os: [windows-2019]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: msys2/setup-msys2@v2
      with:
        update: true
    - uses: actions/checkout@v2
      with:
         submodules: true
    - name: Install Webots Compilation Dependencies
      run: |
        cat scripts/install/bash_profile.windows >> ~/.bash_profile
        ./scripts/install/msys64_installer.sh --all
    - name: Set Commit SHA in Version
      if: ${{ github.event_name == 'schedule' }}
      run: python scripts/packaging/set_commit_and_date_in_version.py ${{ github.sha }}
    - name: Webots Package Creation
      run: |
        export WEBOTS_HOME=$PWD
        make distrib -j4
    - uses: actions/upload-artifact@v2
      with:
        name: build-${{ matrix.os }}
        path: |
          distribution/*.exe
