/*Inspired from https://gitlab.com/robocup-sim/JaSMIn/*/

body {
  scroll-behavior: smooth;
}

#webotsProgress {
  z-index: 1;
  position: absolute;
  text-align: center;
  left: calc(50% - 160px);
  top: calc(50% - 84px);
  background-color: white;
  width:300px;
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  box-sizing: content-box;
}

#view3d {
 display: flex;
 position: relative
}

#playBar {
  width: 100%;
  height: 40px;
  background-color: rgba(255,0,0,0);
  position: absolute;
  align-self: flex-end;
}

.current-time, .total-time, .time-divider {
  display: inline-block;
  padding: 11px 3px;
  color: rgba(240, 240, 240, 1);
  text-shadow: 1px 1px 1px rgb(104,104,104);
}

button:first-of-type { margin-right: 6px; }

.left {
  position: absolute;
  bottom: 0px;
  left: 1%;
  height: 40px;
}

.player-btn {
  float: left;
  height: 38px;
  width: 38px;
  box-sizing: border-box;
  margin: 0 1px;
  border:none;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 2px solid transparent;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url(../wwi/images/icons.svg);

  cursor: pointer;
  outline:none;
}

.right {
  position: absolute;
  bottom: 0px;
  height: 40px;
  right: 1%;
}

.current-time { margin-left: 8px; }

.total-time { margin-right: 8px; }

.jsm-settings {
  position: absolute;
  bottom: 55px;
  right: 1%;
  border: 1px solid #222;
  overflow: auto;
  max-height: 90%;
  max-width: 50%;
  background: rgba(0,0,0, 0.6);

  font-size: 14px;
  font-weight: 500;
  text-shadow: 0 0 2px black;
  color: rgba(240, 240, 240, 1);
}

li {
  display: block;
  clear: both;
  padding: 1px 8px 1px 8px;
  position: relative;
}

li:hover {
  background: #222;
  cursor: pointer;
}

.spacer {
  display: inline-block;
  min-width: 30px;
}

.settingTitle {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 5px;
}

.speed {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 30px;
  font-weight: 450;
  font-size: 14px;
}

.arrowRight{
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  position: absolute;
  top: 10px;
  right: 10px;
}

.ui-icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../wwi/images/icons.svg);
  width: 34px;
  height: 34px;
}

.icon-play       { background-position:   -2px -2px }
.icon-pause      { background-position:  -40px -2px }
.icon-settings   { background-position: -382px -2px }
.icon-fullscreen { background-position: -420px -2px }
.icon-partscreen { background-position: -458px -2px }

.icon-play:hover,
.icon-pause:hover,
.icon-settings:hover,
.icon-fullscreen:hover,
.icon-partscreen:hover {
  background-position-y: -40px;
}
