body {
  scroll-behavior: smooth;
}

iframe {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

#toolBar {
  clear: both;
  z-index: 1;
  width: 100%;
  height: 48px;
  background-color: #666;
}

.toolBarRight {
  display: flex;
  float: right;
}

.toolBarLeft {
  display: flex;
  float: left;
}

.toolBarButton {
  display: block;
  width: 32px;
  height: 32px;
  border: none;
  color: #ccc;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: #ccc;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.toolBarButton:hover {
  background-color: #eee;
}

.toolBarButtonActive {
  background-color: #111;
}

.toolBarButtonActive:hover {
  background-color: #444;
}

 .toolBarButtonDisabled {
   background-color: #444;
 }

.toolBarButtonDisabled:hover {
  background-color: #444;
}

#worldSelectionDiv {
  height: inherit;
  display: inherit;
}

.select-css {
  align-self: center;
  padding: 0.4em 1.8em 0.3em 0.4em;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 0.5em;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'), linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 55%, 0 0;
  background-size: .65em auto, 100%;
  filter: grayscale(1);
  font-size: 14px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  font-family: Arial,Helvetica,sans-serif;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
  display: none;
}
/* Hide dashed box when on focus in Firefox browsers */
.select-css:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* Set options to normal weight */
.select-css option {
  font-weight:normal;
}

#playBar {
  display: flex;
  float: left;
  z-index: 1;
  width: 100%;
  height: 20px;
  background-color: #666;
}

#playSlider {
  display: block;
  width: 100%;
  height: 5px;
  margin: 7px 15px;
  background: #888;
}

.ui-slider {
  height: 5px;
}

.ui-slider-handle {
  height: 13px !important;
  outline: 0;
}

button::-moz-focus-inner {
  border: 0;
}

#playPauseButton {
  display: block;
  width: 20px;
  height: 20px;
  border: none;
  color: #ccc;
  margin-left: 10px;
  background-image: url(play.png);
  background-color: #ccc;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

#playPauseButton:hover {
  background-color: #eee;
}

#webotsProgress {
  z-index: 1;
  position: absolute;
  text-align: center;
  left: calc(50% - 160px);
  top: calc(50% - 84px);
  background-color: white;
  width:300px;
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 20px;
  padding: 10px;
  box-sizing: content-box;
}

.webotsView {
  padding: 0px;
  overflow: hidden;
}

.webots3DView {
  border: none;
  width: 100%;
  height: calc(100% - 48px);
  position: relative;
}

#webotsConsole {
  overflow-y: scroll;
  font-family: monospace;
  padding: 0px;
}

.webotsConsoleLogs {
  padding: 10px;
}

.webotsConsoleButtons {
  text-align: right;
  top: 0;
  position: sticky;
  background-color: white;
  border-bottom: 1px solid lightgray;
}

.webotsConsoleButton {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 6px;
}

.webotsConsoleButton:disabled {
  opacity: 0.3;
}

.webotsConsoleButtonIcon {
  height: 15px;
}

.webotsTime {
  padding-top: 8px;
  color: #ccc;
  font-size: 14px;
  font-family: monospace;
  line-height: normal;
}

.webotsTabContainer {
  padding: 2px 0px 4px 0px !important;
}

.webotsTab {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: calc(100% - 54px);
  border-width: 0px;
}

.webotsRobotWindowTabs {
  display: inline-block;
}

.webotsTabs {
  padding: 0px;
  background: none;
  border-width: 0px !important;
  height: 100%;
}

.webotsTabs .ui-tabs-nav {
  padding: 0px;
  background: transparent;
  border-width: 0px 0px 1px 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

#webotsEditorTabs .ui-tabs-nav {
  padding-right: 30px;
}

.webotsTabs .ui-tabs-nav li {
  font-size: 80%;
}

.webotsTabs .ui-tabs-panel {
  border-width: 0px 1px 1px 1px;
}

.webotsEditorStatusMessage {
  z-index: 100;
  background: #f1f1f1;
  color: #0074FF;
  position:absolute;
  bottom:0;
  right:0;
}

#webotsEditorMenu {
  position: absolute;
  right: 5px;
  top: 5px;
  display: inline-block;
}

#webotsEditorMenu.pressed #webotsEditorMenuContent {
  display: block;
}

#webotsEditorMenu.pressed #webotsEditorMenuImage {
  background-color:  #dddddd;
  border-radius: 2px;
  border: none;
}

#webotsEditorMenuImage {
  padding: 3px 3px;
  background-color:transparent;
  border: none;
  outline: none;
}

#webotsEditorMenuContent {
  display: none;
  position: absolute;
  right: 0;
  top: 25px;
  background-color: #f9f9f9;
  border:1px solid #ccc;
  border-radius: 2px;
  min-width: 115px;
  box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.2);
  padding: 4px 0px;
  font-size: 14px;
  z-index: 10;
}

.webotsEditorMenuContentItem {
  padding: 3px 7px;
  border: solid 1px transparent;
  z-index: 10;
}

.webotsEditorMenuContentItem:hover {
  color: white;
  background-color: #007fff;
  border: solid 1px #003eff;
}

#webotsHelpGuide {
  height: calc(100% - 30px);
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: auto;
}

#webotsHelpReference {
  height: calc(100% - 30px);
  width: 100%;
  padding: 0;
}

.webotsLabel {
  position: absolute;
  white-space: pre;
}

#remoteScene {
  background: white;
  width: 100%;
  height: calc(100% - 48px);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  /* get rid of whitespace after #remoteScene image */
  display: block;
  float: left;
}
